@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?-9heso') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?-9heso') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}

@font-face { 
  font-family: 'DIN-Medium';
  src: url('../fonts/DIN-Medium.otf');
}

@font-face { 
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.ttf');
}

@font-face { 
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color: #00b9ce;
	text-decoration: none;
}

body {
	font-family: 'Lato-Regular', sans-serif;
	overflow: hidden;
	color: #333;

/*background: #bdc3c7; 
background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  
background: linear-gradient(to top, #2c3e50, #bdc3c7); */

/*
background: rgb(184,184,185);
background: linear-gradient(90deg, rgba(184,184,185,1) 1%, rgba(223,223,224,1) 20%, rgba(221,221,227,1) 100%, rgba(175,175,179,0.4738270308123249) 100%, rgba(187,191,191,1) 100%);
*/
/*  background: linear-gradient(#d6d3d3, #eeeeee) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6d3d3), to(#eeeeee)) !important;*/
  /*linear-gradient(#eeeeee, #d6d3d3) !important*/
}

input[type=text], select {
	border: 1px solid #ccc;
	padding: 10px;
	width: 90%;
	color: #ccc;
}

input[type=checbox] {
	margin: 10px
}

select {
	width: 94.5%;
}

#loading {
  position: fixed;
  width: calc(100% - 10%);
  height: 100vh;
  background: #fff;
  z-index: 123456789;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

#loading img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  max-width: 100%;
}

/* loader */

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  bottom: 5%;
  position: absolute;
  width: calc(100% - 20px);
  color: #000;
  padding: 0 10px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/* global sections */
#form-callback-section,
#form-enquire-section,
#form-order-catalogue-section {
  background-color: #eaeaea !important;
}

/* global slides */

.loadImage {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@keyframes softly {
    from {
        transform:scale(0.9);
        opacity:0
    }
    to {
        transform: scale(1);
        opacity:1
    }
}

.forms {
  padding-top: 0px !important;
}