
#fp-nav ul, 
.fp-slidesNav ul {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  display: none;
}

#fp-nav ul li a, 
.fp-slidesNav ul li a {
    background-color: transparent !important;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: #555;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: top;
  height: calc(100vh - 170px);
}

.fp-controlArrow {
  display: block;
  border-color: #555;
  top: unset;
}

.fp-slidesNav.bottom {
  display: block;
  bottom: 50%;
  background-color: transparent;
  opacity: 1;
}

.fp-controlArrow.fp-prev {
    left: 10px;
    bottom: 100px;
    right: 50px;
    z-index: 9;
    border-width: 0;
    border-color: transparent;   
}

.fp-controlArrow.fp-next {
    bottom: 100px;
    right: 45px;
    z-index: 9;
    border-width: 0;
    border-color: transparent;   
}

.fp-controlArrow.fp-next:before {
  content: '\203A';
  font-size: 60px;
  color: #555;
  font-family: courier; 
 }

.fp-controlArrow.fp-prev:before {
  content: '\2039';
  font-size: 60px;
  color: #555;
  font-family: courier;
 }

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-prev:before,
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-next:before {
  display: none;
}

/*.fp-viewing-style-guide-style-guide .fp-controlArrow.fp-prev,
.fp-viewing-style-guide-style-guide .fp-controlArrow.fp-prev:before,
.fp-viewing-style-guide-style-guide .fp-controlArrow.fp-next,
.fp-viewing-style-guide-style-guide .fp-controlArrow.fp-next:before {
  display: block !important;
}*/