<template>
	<div class="slide" data-anchor="about" id="about-section">
		<div class="opening-banner">
			<img data-src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/social-responsibility.jpg" width="100%" alt="imagemakers"/>
			<h1>{{ about[0] }}</h1>
		</div>
		<div class="content">
			<small style="color: orange">pulling live data from https://www.imagemakers.co.za/wp-json</small>
			<div class="main-title">
				<small><b>images and names on the current site are mis-matched </b> == >> fetching JSON...</small><br/><br/>
				<small>{{ about[1] }}</small>
				<br/>
			</div>
		</div>
	</div>
</template>

<script>

module.exports = {
    data() {
        return {
            about: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/40').then( response => { 
	    	this.about.push(
	    		response.body.title.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
	  },
	  updated: function() {
	  }
}
	
</script>

<style>
	
</style>