<template>
	<div class="slide" data-anchor="careers" id="careers-section">
		<div class="opening-banner">
			<img data-src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/social-responsibility.jpg" width="100%" alt="imagemakers"/>
			<h1>{{ careers[0] }}</h1>
		</div>	
		<div class="content">
			<small style="color: orange">pulling live data from https://www.imagemakers.co.za/wp-json</small>
			<div class="main-title">
				<small><b>each individual career posted is a custom post type, aptyl named "careers" </b> == >> fetching JSON...</small><br/><br/>
				<small>{{ careers[1] }}</small>
				<br/>
			</div>
		</div>				 	    	
	</div>	

</template>

<script>

module.exports = {
    data: function() {
        return {
            careers: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/42').then( response => { 
	    	this.careers.push(
	    		response.body.title.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
	  },
	  updated: function() {
	  }
}
	
</script>

<style>
	
</style>