<template>

<div class="clients">

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/Angelic-Wonders.jpg)" alt="client">	</div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/Abbott_laboratories-SA.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/zodiac-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/unitrans-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/travelex-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/toyota.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/swaziland-building-soceity.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/swazibank-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/standard-bank-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/specsavers-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/sme-bank-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/sibanye-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/sandoz-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/safire-insurance-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/redefine-properties-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/saab-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/old-mutual.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/noko-realty-solutions-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/netcare-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/nestle-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/millchem-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/magnum-freight-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/Lesotho-Electricity.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/lenmed-private-hospital-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/legacy-hotels-resorts-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/imperial-truck-rental-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/illovo-sugar-ltd-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/h-gordon-partners-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/Flight-Centre-SA-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/fidelity-security-group.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/ExecuJet-Aviation-Group-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/crises-on-call-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/botswana-savings-bank-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/Botswana-Post-logo.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/bank-of-namibia.jpg)" alt="client"></div>

      <div style="background-image:url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/bank-of-botswana.jpg)" alt="client"></div>

</div>

</template>

<style scoped>

.clients {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
} 

.clients > div {
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin: 0px;
  text-align: center; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border:2px solid transparent;

  flex-grow: 1;

  filter: grayscale(1);
  -webkit-filter: grayscale(1);

/*  -webkit-filter: sepia(1);
  filter: sepia(1);
*/

/*  -webkit-filter: saturate(8);
  filter: saturate(8);  

 -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg)

 -webkit-filter: invert(.8);
  filter: invert(.8);  

  -webkit-filter: opacity(.2);
  filter: opacity(.2);

  -webkit-filter: brightness(3);
  filter: brightness(3);  

  -webkit-filter: contrast(4);
  filter: contrast(4);

 -webkit-filter: blur(5px);
  filter: blur(5px);  

  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  */

}

.clients > div:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);  
}


</style>