<template>

	<div class="cc">

		<div class="slide" data-anchor="colour-chart">

			<div id="fabric-context" style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/01/m2-pic-3.jpg);">
				<!-- -->

			</div>

		</div>

		<div class="colour-chart-nav">

			<div class="cc-scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>

			<div class="cc-frame">

				<ul>

					<li class="active">
 						<a href="#colour-chart/melon" data-context="https://www.imagemakers.co.za/wp-content/uploads/2017/01/m2-pic-3.jpg">
							<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-melon-150x150.jpg);">
								<b>melon</b>
								<small>polyester</small>
							</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/confetti" data-context="https://www.imagemakers.co.za/wp-content/uploads/2017/01/m3-pic-30.jpg">
							<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-confetti-150x150.jpg);">
								<b>confetti</b>
								<small>polyester</small>
							</div>										
						</a>					
					</li>

					<li>
						<a href="#colour-chart/coral" data-context="https://www.imagemakers.co.za/wp-content/uploads/2017/03/m4-pic-3.jpg">
							<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-coral-150x150.jpg);">
								<b>coral</b>
								<small>polyester</small>
							</div>						
						</a>					
					</li>

					<li>
						<a href="#colour-chart/ribbon-red" data-context="https://www.imagemakers.co.za/wp-content/uploads/2017/04/m5-pic-23.jpg">
							<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-ribbon-red-150x150.jpg);">
								<b>ribbon</b>
								<small>polyester</small>
							</div>							
						</a>					
					</li>

					<li>
						<a href="#colour-chart/spain" data-context="https://www.imagemakers.co.za/wp-content/uploads/2017/02/c-128-1210x1612.jpg">
							<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-spain-150x150.jpg);">
								<b>spain</b>
								<small>cotton</small>
							</div>							
						</a>					
					</li>

					<li>
						<a href="#colour-chart/greys" data-context="https://www.imagemakers.co.za/wp-content/uploads/2017/01/c-107-1210x1612.jpg">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-plain-white-150x150.jpg);">
							<b>plain white</b>
							<small>cotton</small>
						</div>							
						</a>					
					</li>

					<li>
						<a href="#colour-chart/" data-context="https://www.imagemakers.co.za/wp-content/uploads/2017/02/c-173-1210x1612.jpg">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-mint-150x150.jpg) ">
							<b>mint</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/" data-context="">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-florida-150x150.jpg) ">
							<b>florida</b>
							<small>cotton</small>
						</div>					
						</a> 
					</li>						
						
					<li>
						<a href="#colour-chart/" data-context="">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-emerald-150x150.jpg) ">
							<b>emerald</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>
											
					<li>
						<a href="#colour-chart/" data-context="">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-fuji-150x150.jpg) ">
							<b>fiji</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/" data-context="">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-limpet-150x150.jpg) ">
							<b>limpit</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/" data-context="">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-ashton-150x150.jpg) ">
							<b>ashton</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/" data-context="">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-peacock-150x150.jpg) ">
							<b>peacock</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>												


					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-dusty-pink-150x150.jpg) ">
							<b>dusty pink</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-dusty-polka-150x150.jpg) ">
							<b>dusty polka</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-quartz-150x150.jpg) ">
							<b>quartz</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-fuji-150x150.jpg) ">
							<b>purple blaze</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-india-150x150.jpg) ">
							<b>india</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-bali-150x150.jpg) ">
							<b>bali</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-soft-lilac-150x150.jpg) ">
							<b>soft lilac</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>												

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-nightfall-150x150.jpg) ">
							<b>true blue</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-cyprus-150x150.jpg) ">
							<b>cypress</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>		

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-twilight-150x150.jpg) ">
							<b>twilight</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/09/b-cotton-windsor-150x150.jpg) ">
							<b>windsor</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-sapphire-150x150.jpg) ">
							<b>sapphire</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-topaz-150x150.jpg) ">
							<b>topaz</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>		

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-houston-150x150.jpg) ">
							<b>houstan</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>																			

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-nightfall-150x150.jpg) ">
							<b>nightfall</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-classic-check-150x150.jpg) ">
							<b>classic check</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-atlanta-150x150.jpg) ">
							<b>atlanta</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-toronto-150x150.jpg) ">
							<b>toronto</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-bristol-150x150.jpg) ">
							<b>bristol</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-cruise-150x150.jpg) ">
							<b>cruis</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>	

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-turquoise-150x150.jpg) ">
							<b>turqouise</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>	
												
					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-creampolka-150x150.jpg) ">
							<b>cream polka</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-hilton-150x150.jpg) ">
							<b>hilton</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-karoo-150x150.jpg) ">
							<b>karoo</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-champagne-150x150.jpg) ">
							<b>champagne</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-denver-150x150.jpg) ">
							<b>denver</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>
																								
					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-brooklyn-150x150.jpg) ">
							<b>brooklyn</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>																								

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-stirling-150x150.jpg) ">
							<b>stirling</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-lilac-grey-150x150.jpg) ">
							<b>lilac grey</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-carlton-150x150.jpg) ">
							<b>carlton</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-bw-polka-150x150.jpg) ">
							<b>polka</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-cotton-oslo-150x150.jpg) ">
							<b>oslo</b>
							<small>cotton</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/08/b-poly-pearlblack-150x150.jpg) ">
							<b>pearl black</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-graphic-150x150.jpg) ">
							<b>graphic</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-french-diamond-black-150x150.jpg) ">
							<b>diamond black</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-french-greek-navy-150x150.jpg) ">
							<b>greek navy</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-marble-ivory-150x150.jpg) ">
							<b>ivory</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-marble-coal-150x150.jpg) ">
							<b>coal</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-marble-liquorice-150x150.jpg) ">
							<b>liquorice</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-marble-nauticalnavy-150x150.jpg) ">
							<b>nautical navy</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-birdseye-pewter-150x150.jpg) ">
							<b>pewter</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-luxury-silver-150x150.jpg) ">
							<b>silver</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-luxury-taupe-150x150.jpg) ">
							<b>taupe</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-luxury-crimson-150x150.jpg) ">
							<b>crimson</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-roman-blue-pinstripe-150x150.jpg) ">
							<b>blue pinstripe</b>
							<small>polyester</small>
						</div>
						</a> 
					</li>					

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-viscose-granite-black-150x150.jpg) ">
							<b>granite black</b>
							<small>viscose</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-poly-charcoal-150x150.jpg) ">
							<b>charcoal</b>
							<small>viscose</small>
						</div>
						</a> 
					</li>

					<li>
						<a href="#colour-chart/">
						<div style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/03/b-viscose-navy-150x150.jpg) ">
							<b>navy</b>
							<small>viscose</small>
						</div>
						</a> 
					</li>

				</ul>

			</div>

		</div>

	</div>
</template>

<script>
  
  $(function() {

  	$('.cc-frame a').click(function(){  	  		
	  		var context = this.getAttribute('data-context');
	  		$('#fabric-context').css('background-image', 'url('+context+')');
  	})

  });

	export default {
	    data() {
	        return {
	        colourChart:  [
	        	{
	        		"name" : "reds"
	        	},
	        	{
	        		"name" : "greens"
	        	},
	        	{
	        		"name" : "mauves"
	        	},
	        	{
	        		"name" : "blues"
	        	},
	        	{
	        		"name" : "neutrals"
	        	},
	        	{
	        		"name" : "greys"
	        	},
	        	{
	        		"name" : "black & whites"
	        	},
	        	{
	        		"name" : "his suits"
	        	},
	        	{
	        		"name" : "her suits"
	        	},	        	
	        	]
	        }
	    },
	}
	
</script>

<style scoped>

	.cc .slide div div .colour-swatch { width: auto; height: 150px; padding-left: 10px; padding-top: calc(100vh - 400px);  }

	.cc-frame ul li a { color: #555555; outline: 0 }
	.cc-frame ul li a div { width: 150px; float: left; background-color: transparent; height: 47px; text-align:center; margin:  0;     padding:  97px 0 0 0 }

	.cc-frame ul li a div b { font-size: 14px; text-transform: uppercase;display: block; margin: 10px 0px 0 0; background-color: white; width: calc(100% - 17px); float: right; padding: 5px 7px 2px 10px; text-align: right;}
	.cc-frame ul li a div small { font-size: 10px; text-transform: uppercase; display: block; margin: 0 0 0; color: #777; background-color: white; width: calc(100% - 17px); float: right; padding: 2px 7px 2px 10px; text-align: right; }
	.cc-frame ul li a div img { width: 100%; display: block; height: 150px; outline: 0 }

	.cc-frame #fabric-context { background-image:url(); animation: softly 1s; }	

	.cc .slide div { width: 100%;height: calc(100vh - 151px); background-position: center top; background-size: contain;	}
	.colour-chart-nav { margin: 0 auto; font-family: DIN-Medium }
	.colour-chart-nav .cc-frame { margin: 0 auto; width: 100%; height: 150px; overflow: hidden; text-shadow: none; position: absolute; bottom: 0px; z-index: 9 }
	.colour-chart-nav .cc-frame ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px }
	.colour-chart-nav .cc-frame ul li { float: left; width: 150px; height: 100%; margin: 0 1px 0 0; padding: 0; background: #fff; color: #ccc; cursor: pointer; opacity: 0.96;  }
	.colour-chart-nav .cc-frame ul li.active { color: #fff; background: #a7a8aa !important; }

	.cc-frame ul li.active a div b,
	.cc-frame ul li.active a div small { background-color: #ded8d8; color: black; }
	.colour-chart-nav .cc-frame ul li.active .cc-title { background-color: #ccc; color: #000; }
	.colour-chart-nav .cc-frame .box { width: 50px; height: 10px; float: left	}
	.colour-chart-nav .cc-scrollbar { margin: 0 auto 30px; width: 100%; height: 5px; line-height: 0; position: absolute; bottom: 150px; z-index: 9 }
	.colour-chart-nav .cc-scrollbar .handle { width: 100px; height: 100%; background: #ccc; cursor: pointer }
	.colour-chart-nav .cc-scrollbar .handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px }
	.colour-chart-nav .cc-title {	width: calc(200px - 5px); background: #eee; color: #555; text-transform: uppercase; text-align: left; padding: 10px 0px 8px 5px; font-size: 14px }
	.colour-chart-nav .team-fabric { width: 200px; height: 10px	}	

	@media screen and (max-width: 1000px) {
		.cc .slide div { background-size: cover; }
	}

	@media screen and (max-width: 500px) {

	}

	@media screen and (max-width: 400px) {

	}

</style>