<template>
	<div class="slide" data-anchor="contact" id="contact-section" style="background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/exchange-policy.jpg);">
		<div class="content">
			<div class="main-title hidden">
				<h1>{{ contact[0] }}</h1>
			</div>			
			<center>
				<div class="btn-container">                        
						<a class="btn" href="tel:+27214471290"><span>call</span>Cape Town</a>

						<a class="btn" href="tel:+27112343025"><span>call</span>Joburg</a>
						<a class="btn" href="tel:+27129975887"><span>call</span>Pretoria</a>
						<a class="btn" href="tel:+27112341574"><span>call</span>Rivonia</a>
						<a class="btn" href="tel:+26461300614"><span>call</span>Namibia</a>
						<a class="btn" href="tel:+2673132932"><span>call</span>Gabarone</a>
						<br clear="all" /><br/>
						<a class="btn" href="mailto:sales@imagemakers.co.za" style="width:calc(100% - 60px)"><span>email</span>sales@imagemakers.co.za</a>
				</div>			
				<hr/>	
<!--                 <table>
                    <tr>
                        <td colspan="2">Come in for a free fitting or to say hi</td>
                    </tr>
                    <tr>
                        <td>21 Queens Park Avenue, Salt River 7945<br/></td>
                        <td>Cape Town</td>
                    </tr>

Pavilion Office Park,
12 Wessels Road,
Block C, Ground Floor,\
2128
Rivonia,


641 Rubenstein Street
Moreleta Park
Pretoria
South Africa

linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9))


                </table>	 -->		
			</center>
		</div>
	</div>
</template>

<script>

export default {
    data() {
        return {
            contact: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/53').then( response => {
	    	this.contact.push(
	    		response.body.title.rendered,
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
	  },
	  updated: function() {
	  }
}
	
</script>

<style lang="scss" scoped>

h2 {
	  background-color: white;
    color: #555;
    width: 52%;
    display: block;
    padding: 10px;
    font-size: 21px;
    float: left;
    margin: 20px 0 30px -20px;
    border-radius: 0 5px 5px 0;
}

.btn-container{
	width: 100%;
  margin: 0 auto;
}

.btn span { 
    display: inline-block;
    width: 100%;
    height: 10px;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    background-color: transparent;
    padding: 5px 0px;
}
.btn{
    width: calc(50% - 60px);
    float: left;
    margin: 0 20px 10px 20px;
    height: 50px;
    line-height: 20px;
    background-color: #353533;
    border-radius: 8px;
    color: #fff;
    font-family: 'DIN-Medium', cursive;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    text-transform: uppercase;;
    &:hover{
        background-color: #00b9ce;
    }
}



</style>