<template>
	<div class="slide" data-anchor="social-responsibility" id="social-responsibility-section">
		<div data-include="slide-csr.html">
			<div class="opening-banner">
				<img data-src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/social-responsibility.jpg" width="100%" alt="imagemakers"/>
				<h1>{{ csr[0] }}</h1>
			</div>
		<div class="content">
			<small style="color: orange">pulling live data from https://www.imagemakers.co.za/wp-json</small>
			<div class="main-title">
				<small><b>source crisper logos, otherwise only bring through title and descriptions </b> == >> fetching JSON...</small><br/><br/>
				<small>{{ csr[2] }}</small>
				<hr/>
				<small>{{ csrList[0] }}</small>
				<br/>
			</div>
		</div>					
		</div>
	</div>
</template>

<script>

module.exports = { 
    data() {
        return {
            csr: [],
            csrList: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/6').then( response => { 
	    	this.csr.push(
	    		response.body.title.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });

	    this.$http.get('wp/v2/social_res?_embed&per_page=100').then( response => { 
	    	this.csrList.push(response); 
	    }, error => {
	    	console.log(error.body.message);
	    });

	  },
	  updated: function() {
	  }
}
	
</script>

<style>
	
</style>