<template>
	<div class="slide" data-anchor="deliveries" id="deliveries-section">  	
		<div class="content">
			<div class="main-title hidden">
				<h1>{{ deliveries[0] }}</h1>
			</div>
			<small v-html="deliveries[1]"></small>
		</div>
	</div>	
</template>

<script>

module.exports = {
    data() {
        return {
            deliveries: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/111').then( response => { 
	    	this.deliveries.push(
	    		response.body.title.rendered, 
	    		response.body.content.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
	  },
	  updated: function() {
	  }
}
	
</script>

<style>
	
</style>