<template>
	<div id="myViewerContent" style="width:100%; height:calc(100vh - 120px); ">
			<iframe id="catalogueHook" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" data-src="http://api.viewer.zmags.com/services/htmlviewer/content/465183a8"></iframe>
	</div>
	 <!--  <div id="catalogueMask" style="position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: transparent; z-index: 999999999"> </div> -->
</template>	

<script>

</script>

<style>	
	#catalogueHook {}
	#catalogue { height:calc(100vh - 121px) }
	#catalogue iframe {	border: 0px; display: block;  pointer-events:auto;  }
</style>