<template>
	<div class="slide" data-anchor="exchanges" id="exchanges-section">
		<div class="content">
			<small style="color: orange">pulling live data from https://www.imagemakers.co.za/wp-json</small>
			<div class="main-title">
				<small><b>all good </b> == >> fetching JSON...</small><br/><br/>
				<small>{{ exchanges[1] }}</small>
				<br/>
			</div>
		</div> 	    	
	</div>	
</template>

<script>

module.exports = {
    data() {
        return {
            exchanges: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/50').then( response => { 
	    	this.exchanges.push(
	    		response.body.title.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
	  },
	  updated: function() {
	  }
}
	
</script>

<style>
	
</style>