<template>
	<div class="slide" data-anchor="frequently-asked-questions" id="frequently-asked-questions-section">  	
		<div class="content">
			<div class="main-title hidden">
				<h1>{{ faq[0] }}</h1>
			</div>
			<small v-html="faqList[1]"></small>
		</div>
	</div>
</template>

<script>

module.exports = {
    data() {
        return {
            faq: [],
            faqList: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/48').then( response => { 
	    	this.faq.push(
	    		response.body.title.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
			
			this.$http.get('wp/v2/faqs_type?per_page=100').then( response => { 
	    	this.faqList.push(response.body); 
	    }, error => {
	    	console.log(error.body.message);
	    });

	  },
	  updated: function() {
	  }
}	

</script>

<style>
	
</style>