<template>
  <div class="slide forms" data-anchor="make-an-enquiry" id="form-enquire-section">

    <form id="formEnquire" class="simform" autocomplete="on">
    <div class="formMainVoice"><p class="final-message">Resolved in 1 - 12 hours</p></div>  
       <div class="simform-inner">         
        <ol class="questions">
          <li>
            <span><label for="firstName">Your first name please</label></span>
            <input id="firstName_enq" name="firstName" type="text" placeholder="First Name" v-model="firstName_enq" autocomplete='given-name' autofocus />    
          </li>
          <li>
            <span><label for="lastName">Your last name please</label></span>
            <input id="lastName_enq" name="lastName" type="text" placeholder="Last Name" v-model="lastName_enq" autocomplete='family-name' />    
          </li>          
          <li>
            <span><label for="primaryEmail">Your email please</label></span>
            <input id="primaryEmail_enq" name="primaryEmail" type="email" placeholder="JKDlamini@gmail.com" v-model="primaryEmail_enq" autocomplete='email' />   
          </li> 
          <li>
            <span><label for="primaryContact">Your number please</label></span>
            <input id="primaryContact_enq" name="primaryContact" type="tel" maxlength="12" placeholder="0719981901" v-model="primaryContact_enq" autocomplete='tel' />
          </li>
          <li>
            <span><label for="message">Ask us anything</label></span>
            <textarea id="message_enq" name="message" type="text" placeholder="..."></textarea>
          </li>
        </ol>
        <button class="submit" type="submit">Send answers</button>
        <div class="controls">
          <button class="next" name="next"></button>
          <div class="progress"></div>
          <span class="number">
            <span class="number-current"></span>
            <span class="number-total"></span>
          </span>
          <span class="error-message"></span>
        </div>
      </div>

      <div class="feedbackTable"  style="display: none">
        <div><small><b>Who</b> are we replying to &nbsp;&nbsp;</small><br/><span class="highlight" contenteditable="true">{{ firstName_enq + ' ' + lastName_enq}}<br/></span></div>
        <div><small><b>How</b> can we get hold of you &nbsp;&nbsp;</small><br/><span class="highlight" contenteditable="true"> {{ primaryEmail_enq }} <br /> {{ primaryContact_enq }}</span></div>
<!--         <div><small><b>What</b> can we help you with &nbsp;&nbsp;</small><br/><span class="highlight" contenteditable="true">{{ message_enq }}</span><br/></div> -->
        <br clear="all" />
      </div>


    </form> 
  </div>
</template>

<script>
   export default {
    data() {
      return {
        firstName_enq:        '',
        lastName_enq:         '',
        primaryEmail_enq:     '',
        primaryContact_enq:   '',
        message_enq:   '',        
      }
    },
    mounted: function () {
        // 
    },
  }

  $(function() {

    // TO DO: We can't prevent ENTER inside of <textarea>, we should enable SHIFT or CTRL as a prefixed solution
    // $('#formEnquire').keydown(function (e) {
    //   if (e.keyCode === 13) {
    //     console.log('someone pushed ENTER...')
    //     e.preventDefault();  
    //   }
    // });

    var formEnquire = document.getElementById('formEnquire');

    new stepsForm(formEnquire, {
      onSubmit : function( form ) {

        classie.addClass( formEnquire.querySelector( '.simform-inner' ), 'hide' );

        var messageEl = formEnquire.querySelector( '.final-message' );
        messageEl.innerHTML = 'Your enquiry has been prioritised';
        classie.addClass( messageEl, 'show' );

        var url = "http://localhost:8080";
        // live link https://onlinestore.imagemakers.co.za/scripts/onl/calls/please-call-me.p

        $.ajax({
               type: "POST",
               url: url,
               data: $("#formEnquire").serialize(), 
               success: function(data) { // do something extra
               }
             });

        $('#formEnquire .simform-inner').slideUp(1000);
        $('#formEnquire .feedbackTable').slideDown(1000);

        return false; 

      }

    });

  });

  $('#primaryEmail').focus(function() {
    $('.feedbackTable div:nth-child(1)').css({'background-color':'#e0e3e5','box-shadow':'1px 2px 4px #c8c8c8'});
  })

  $('#addressLineOne').focus(function() {
    $('.feedbackTable div:nth-child(2)').css({'background-color':'#e0e3e5','box-shadow':'1px 2px 4px #c8c8c8'});
  })

</script>

<style scoped>

    form {
      margin:180px auto 0 !important; 
      max-width: 800px ;      
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    input:-webkit-autofill, 
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      /*border: 1px solid green;*/
      -webkit-text-fill-color: rgba(0,0,0,0.4);
      -webkit-box-shadow: 0 0 0px 1000px #d2d2d2 inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    #form-enquire-section {
      background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/exchange-policy.jpg); width: 100%; background-position: 0% 0 !important; 
    }

    #formEnquire {
      box-shadow: 1px 5px 20px #6b6b6b;
    }

    .formMainVoice {
      color: #696565;font-family: DIN-Medium;
      text-transform: uppercase;
      padding: 0px;
      background-color: #eee;
      margin: 0;
    }

    .formMainVoice p { 
      opacity: 1 !important;
      visibility: visible !important;
      font-size: 12px;
      line-height: 12px;
      padding: 5px 10px;
      background-color: #737373;
      color: #b9b9b9;
      margin: 0;
      width: auto;
      position: absolute;
      top: -12px; 
    }

    .helpfulHint {
      display: none; 
      color: #696565; 
      position: absolute;
      top: 37px;
      right: 20px;
      z-index: 9;
      padding: 10px 20px;
      background-color: rgb(238, 238, 238);
      font-size: 11px;
      text-transform: uppercase;box-shadow: 1px 2px 4px #6b6b6b;
    }

    .simform {
      color: rgba(0,0,0,0.45);
      font-size: 100%;
      line-height: 1.25;  
      font-family: 'DIN-Medium', arial, sans-serif;   
    }

    .simform-inner {
      padding: 0 20px;
      background-color: #e2e4e6;
      padding: 20px 20px 30px;  
      transition: all 2s linear;

    }

    .simform {
      position: relative;
      margin: 0 auto;             
      width: calc(100% - 40px);
      text-align: left;
      font-size: 1.8em;
      background-color: #ffffff;
      opacity: 0.95;
    }

    .highlight {
      color: #00b9ce;
      outline: 0 none;
    }  

    button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;} .simform *,  .simform *:after,  .simform *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

    .simform textarea {
      height: 200px;
      width: 100%;
      background-color: #ccc;
      padding: 0.3em 1em 0.5em 0.7em;
      outline: none;
    }

    .simform .submit {
      display: none;
    }

    /* Question list style */
    .simform ol {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      -webkit-transition: height 0.4s;
      transition: height 0.4s;
    }

    .simform ol:before {
      content: '';
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2.35em;
    }

    .questions li {
      z-index: 100;
      position: relative;
      visibility: hidden;
      height: 0;
      -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
      transition: visibility 0s 0.4s, height 0s 0.4s;
    }

    .questions li.current,
    .no-js .questions li {
      visibility: visible;
      height: auto;
      -webkit-transition: none;
      transition: none;
    }

    /* Labels */
    .questions li > span {
      display: block;
      overflow: hidden;
    }

    .questions li > span label {
      display: block;
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    .questions li.current > span label,
    .no-js .questions li > span label {
      -webkit-transition: none;
      transition: none;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    .show-next .questions li.current > span label {
      -webkit-animation: moveUpFromDown 0.4s both;
      animation: moveUpFromDown 0.4s both;
    }

    @-webkit-keyframes moveUpFromDown {
      from { -webkit-transform: translateY(100%); }
      to { -webkit-transform: translateY(0); }
    }

    @keyframes moveUpFromDown {
      from { -webkit-transform: translateY(100%); transform: translateY(100%); }
      to { -webkit-transform: translateY(0); transform: translateY(0); }
    }

    /* Input field */
    .questions input {
      display: block;
        margin: 0.3em 0 0 0;
        padding: 0.2em 1em 0.5em 0.7em;
        width: calc(100% - 2em);
        border: none;
        background: transparent;
        color: rgba(0,0,0,0.8);
        font-size: 1em;
        line-height: 1;
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        height: 2.1em;
    }

    .questions .current input,
    .no-js .questions input {
      opacity: 1;
    }

    .questions input:focus,
    .simform button:focus {
      outline: none;
    }

    /* Next question button */
    .next {
      position: absolute;
      right: 0;
      top: 35px; /* padding-bottom of form plus progress bar height */
      display: block;
      padding: 0; 
      width: 2em;
      height: 2em;
      border: none;
      background: none;
      color: rgba(0,0,0,0.4);
      text-align: center;
      opacity: 0;
      z-index: 100;
      cursor: pointer;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transform: translateX(-20%);
      transform: translateX(-20%);
      pointer-events: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .next:hover {
      color: rgba(0,0,0,0.5);
    }

    .next::after {
      position: relative;
      left: -20px;
      width: 100%;
      height: 100%;
      content: "\e600";
      text-transform: none;
      font-weight: normal;
      font-style: normal;
      font-variant: normal;
      font-family: 'icomoon';
      line-height: 2;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 30px;
    }

     @media screen and (max-width: 710px) {

        .next,
        .next::after  {

        }   

    }

    .next.show {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      pointer-events: auto;
    }

    /* Progress bar */
    .simform .progress {
      width: 0%;
      height: 0.15em;
      background-color: #00b9ce;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      opacity: 0.8;
    }

    .simform .progress::before {
      position: absolute;
      top: auto;
      width: calc(100% - 40px);
      height: inherit;
      background-color: #00b9ce;
      opacity: 0.2;
      content: '';
    }

    /* Number indicator */
    .simform .number {
      position: absolute;
      right: 20px;
      overflow: hidden;
      margin: 0.4em 0;
      width: 3em;
      font-weight: 700;
      font-size: 0.4em;
    }

    .simform .number:after {
      position: absolute;
      left: 50%;
      content: '/';
      opacity: 0.4;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .simform .number span {
      float: right;
      width: 40%;
      text-align: center;
    }

    .simform .number .number-current {
      float: left;
    }

    .simform .number-next {
      position: absolute;
      left: 0;
    }

    .simform.show-next .number-current {
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    .simform.show-next .number-next {
      -webkit-animation: moveUpFromDown 0.4s both;
      animation: moveUpFromDown 0.4s both;
    }

    /* Error and final message */

    .simform .error-message {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }

     .simform .final-message {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }

    .simform .error-message {
      padding: 0.4em 3.5em 0 0;
      width: 100%;
      color: #00b9ce;
      font-size: 0.5em;
      font-weight: 100;
    }

    .final-message {
      font-family: 'DIN-Medium', arial, sans-serif !important;
      top: 50%;
      left: 0;
      padding: 0.5em;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .error-message.show,
    .final-message.show {
      visibility: visible;
      opacity: 1;
    }

    .final-message.show {
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }

    /* Final hiding of form / showing message */
    .simform-inner.hide {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
      transition: opacity 0.3s, visibility 0s 0.3s;
    }

    ::placeholder { 
      color: #bbb 
    }

    /* Remove IE clear cross */
    input[type=text]::-ms-clear {
        display: none;
    }

    /* Adjust form for smaller screens */
    @media screen and (max-width: 44.75em) {
      .simform {
        font-size: 1.8em;
      }
    }

    @media screen and (max-width: 33.5625em) {
      .simform {
        font-size: 1.6em;
      }
    }

    @media screen and (max-width: 788px) {
    .next {
      top: 35px;
      }
    }

    @media screen and (max-width: 444px) {
    .next {
      top: 30px;
      }
    }

    @media screen and (max-width: 337px) {
    .next {
      top: 60px;
      }
    }        

    /* mods */

    .feedbackTable {
      font-size: 14px;  
      text-align: left;
      width: calc(100%);
      padding: 5px 20px 20px;
      outline: 0 none;
    }

    .feedbackTable div {
      float: left;
      padding: 10px;
/*      border: 1px dashed #e0e2e5; */   
      margin: 10px 10px 0 0;
      width: calc(33.33%  - 10px);
    }

    .feedbackTable small {
      text-transform: uppercase;
    }    

    @media screen and (max-width: 666px) {
      .feedbackTable div {
          width: 100%;
          margin: 10px 0 0 0;
      }
    }



</style>