<template>
	<div class="slide home-section" style="background-image: url('../../static/images/_home.jpg');">
		<div class="opening-banner">			
		</div>	

	</div>	
</template>

<script>

export default {
  data() {
  	return {
  	}
  },
}

</script>

<style>

.forms-to-action {
    float: right;
    width: 210px;
    background-color: transparent;
}


</style>