<template>
	<div data-menuanchor="home" class="logo">
		<a href="#home">			
			<img src="static/images/_logo_icon.png" width="50px" class="biggie" alt="Imagemakers" /> 
		</a>
	</div>
</template>

<script>
	
</script>

<style>

	.logo {
			position: fixed;
			top: 0;
			left: 0;
		  width: auto;
			z-index: 666;
			margin: 0px;
			width: 75px;
			height: 75px;
			text-align: center;
			
	}

	.logo img:hover{
		background: white;
		opacity: 0.8;
		transition: 1s all ease;
	}

	.logo img {
			margin: 16px 0px 14px 12px;		
			display: block;
			transition: 1s all ease;
	}

</style>