<template>
	<header>
		<nav role="navigation">
		  <div id="menuToggle">  
		    <input type="checkbox" />
		    <span></span>
		    <span></span>
		    <span></span>
		    <ul class="menu"> 
          <li><a href="#home" data-menuanchor="home" class="menulink">Home</a></li>         
		      <li><a href="#team-looks" data-menuanchor="team-looks" class="menulink">Team Looks</a></li>
		      <li><a href="#style-guide" data-menuanchor="style-guide" class="menulink">Style Guide</a></li>
		      <li><a href="#mix-and-match" data-menuanchor="mix-and-match" class="menulink">Mix &amp; Match</a></li>
			    <li><a href="#colour-chart" data-menuanchor="colour-chart" class="menulink">Colour Chart</a></li>
			    <li><a href="#size-chart" data-menuanchor="size-chart" class="menulink">Size Chart</a></li>
          <li><a href="#online-catalogue" data-menuanchor="online-catalogue" class="menulink">Browse&nbsp;Catalogue</a></li> 
          <!-- -->
          <li style="height:38px"><a href="#contact" data-menuanchor="contact" class="menulink secondary" style="font-size:12px;">Contact</a></li> 
          <li style="height:38px"><a href="#clients" data-menuanchor="clients" class="menulink secondary" style="font-size:12px;">Clients</a></li>
          <li style="height:38px"><a href="#privacy-policy" data-menuanchor="privacy-policy" class="menulink secondary" style="font-size:12px; ">Privacy</a></li>
          <li style="height:38px"><a href="#terms-and-conditions" data-menuanchor="terms-and-conditions" class="menulink secondary" style="font-size:12px; ">Terms</a></li>
          <!-- 
          <li style="height:38px"><a href="#careers">Careers</a></li>
          <li style="height:38px"><a href="#about">About</a></li>
          <li style="height:38px"><a href="#social-responsibility">CSR</a></li> 
          -->
          <li style="height:38px"><a href="#frequently-asked-questions" data-menuanchor="frequently-asked-questions" class="menulink secondary" style="font-size:12px;">FAQs</a></li>
          <li style="height:38px"><a href="#delivery-policy" data-menuanchor="delivery-policy" class="menulink secondary" style="font-size:12px;">Deliveries</a></li>
          <li style="height:38px"><a href="#exchange-policy" data-menuanchor="exchange-policy" class="menulink secondary" style="font-size:12px;">Exchanges</a></li>

		    </ul>
		  </div>
		</nav>
	</header>
</template>

<script>

$(function() { 

  $('.menu>li>a').on('click', function() {
    $('#menuToggle>input').prop('checked', false);    
  })

});

</script>

<style lang="scss" scoped>

#menuToggle
{
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 6679;
  -webkit-user-select: none;
  user-select: none;
  padding: 0px;
  width: 75px;
  height: 73px;  
  transition: 1s all ease;
  opacity: 0.9;
}

#menuToggle:hover {
  opacity: 1;
  transition: 1s all ease;
  background-color: #bfc2c5;
}

#menuToggle input
{
  display: block;
  width: 75px;
  height: 73px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 45px;
  height: 2px;
  margin: 24px 0px -16px 17px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:hover {
  background: #fff
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(2px, -5px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0px, 8px);
}

.menu
{
  position: fixed;
  top: 0;
  right: 0;  
  margin: 73px 0 0 0;
  background-color: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(0, -500%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

 /* opacity: 0.8;*/
  width: auto;
}

.menu li
{
  font-size: 22px;
  display: block;
  background: transparent;
  height: 45px;
  float: right;
  margin: 0 1px 0 0;
  clear: both;
}

.menu li a {
    text-decoration: none;
    text-align: left;
    font-family: DIN-Medium;
    padding: 11px 10px;
    font-size: 18px;
    background-color: #eaeaea;
    display: inline-block;
    float: right;
    color: #555;
    clear: both;
    width: 170px;
    text-transform: uppercase;
    border-bottom: 1px solid #bdbdbd;
}

.menu li .active {
    border-right: 5px solid black;
    background: black !important;
    color: white !important;
}

.menu li a:hover {
  background-color: #fff;
  color: #000000;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
</style>