<template>

	<div class="mm">

		<div class="slide landing" data-anchor="mix-and-match">
			<div class="mask">
				<div>
				<h1>Mix &amp; Match</h1><br/>
				<p>Save time and money, with all your outfits planned for the whole month. </p>				
				</div>				
			</div>
		</div>

		<div class="slide" data-anchor="5-makes-8-blue">
			<div class="mix-and-match-1 mm_browse">
				<div class="overview">					
					<div style="width: 100% !important">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ianvFGHKVIQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>		
					<div class="info">
							<h2>5 GARMENTS<br/>8 OUTFITS</h2>
							<p>Get the most out of every item you purchase. 5 basic garments become 8 unique mix and match outfits with our corporate clothing dress-up tool.</p>
					</div>					
					<div class="mam-1-8"></div>
					<div class="mam-1-7"></div>
					<div class="mam-1-6"></div>
					<div class="mam-1-5"></div>
					<div class="mam-1-4"></div>
					<div class="mam-1-3"></div>					
				</div>
				<div class="mam-1-1"><div><small>Day 1</small></div></div>
				<div class="mam-1-2"><div><small>Day 2</small></div></div>
				<div class="mam-1-3"><div><small>Day 3</small></div></div>
				<div class="mam-1-4"><div><small>Day 4</small></div></div>
				<div class="mam-1-5"><div><small>Day 5</small></div></div>
				<div class="mam-1-6"><div><small>Day 6</small></div></div>
				<div class="mam-1-7"><div><small>Day 7</small></div></div>
				<div class="mam-1-8"><div><small>Day 8</small></div></div>
			</div>
		</div>

		<div class="slide" data-anchor="5-makes-8-pink">			
			<div class="mix-and-match-2 mm_browse">
				<div class="overview">					
					<div style="width: 100% !important">
					<iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/Lem_RiMunrk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>		
					<div class="info">
							<h2>5 GARMENTS<br/>8 OUTFITS</h2>
							<p>Get the most out of every item you purchase. 5 basic garments become 8 unique mix and match outfits with our corporate clothing dress-up tool.</p>
					</div>					
					<div class="mam-2-8"></div>
					<div class="mam-2-7"></div>
					<div class="mam-2-6"></div>
					<div class="mam-2-5"></div>
					<div class="mam-2-4"></div>
					<div class="mam-2-3"></div>					
				</div>			
				<div class="mam-2-1"><div><small>Day 1</small></div></div>
				<div class="mam-2-2"><div><small>Day 2</small></div></div>
				<div class="mam-2-3"><div><small>Day 3</small></div></div>
				<div class="mam-2-4"><div><small>Day 4</small></div></div>
				<div class="mam-2-5"><div><small>Day 5</small></div></div>
				<div class="mam-2-6"><div><small>Day 6</small></div></div>
				<div class="mam-2-7"><div><small>Day 7</small></div></div>
				<div class="mam-2-8"><div><small>Day 8</small></div></div>
			</div>					
		</div>

		<div class="slide" data-anchor="7-makes-18-colour">
			<div class="mix-and-match-3 mm_browse">
				<div class="overview top-three"">					
					<div class="mam-3-9"></div>
					<div class="mam-3-8"></div>
					<div class="mam-3-7"></div>					
					<div class="info-block">
							<h2>7 GARMENTS<br/>18 OUTFITS</h2>
							<p>Get the most out of every item you purchase. Turn 7 durable garments into 18 unique mix and match outfits.</p>
					</div>					
					<div class="mam-3-6"></div>
					<div class="mam-3-5"></div>
					<div class="mam-3-4"></div>			
					<div class="mam-3-3"></div>
					<div class="mam-3-2"></div>
					<div class="mam-3-1"></div>								
				</div>					
				<div class="mam-3-1"><div><small>Day 1</small></div></div>
				<div class="mam-3-2"><div><small>Day 2</small></div></div>
				<div class="mam-3-3"><div><small>Day 3</small></div></div>
				<div class="mam-3-4"><div><small>Day 4</small></div></div>
				<div class="mam-3-5"><div><small>Day 5</small></div></div>
				<div class="mam-3-6"><div><small>Day 6</small></div></div>
				<div class="mam-3-7"><div><small>Day 7</small></div></div>
				<div class="mam-3-8"><div><small>Day 8</small></div></div>
				<div class="mam-3-9"><div><small>Day 9</small></div></div>
				<div class="mam-3-10"><div><small>Day 10</small></div></div>
				<div class="mam-3-11"><div><small>Day 11</small></div></div>
				<div class="mam-3-12"><div><small>Day 12</small></div></div>
				<div class="mam-3-13"><div><small>Day 13</small></div></div>
				<div class="mam-3-14"><div><small>Day 14</small></div></div>
				<div class="mam-3-15"><div><small>Day 15</small></div></div>
				<div class="mam-3-16"><div><small>Day 16</small></div></div>
				<div class="mam-3-17"><div><small>Day 17</small></div></div>
				<div class="mam-3-18"><div><small>Day 18</small></div></div>
			</div>			
		</div>

		<div class="slide" data-anchor="7-makes-18-color">
			<div class="mix-and-match-4 mm_browse">
				<div class="overview">					
					<div style="width: 100% !important">
					<iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/rtSIJmibDvY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>		
					<div class="info">
							<h2>7 GARMENTS<br/>18 OUTFITS</h2>
							<p>Get the most out of every item you purchase. 7 durable garments become 18 unique mix and match outfits.</p>
					</div>					
					<div class="mam-4-11"></div>
					<div class="mam-4-12"></div>
					<div class="mam-4-13"></div>
					<div class="mam-4-14"></div>
					<div class="mam-4-15"></div>
					<div class="mam-4-16"></div>					
				</div>						
				<div class="mam-4-1"><div><small>Day 1</small></div></div>
				<div class="mam-4-2"><div><small>Day 2</small></div></div>
				<div class="mam-4-3"><div><small>Day 3</small></div></div>
				<div class="mam-4-4"><div><small>Day 4</small></div></div>
				<div class="mam-4-5"><div><small>Day 5</small></div></div>
				<div class="mam-4-6"><div><small>Day 6</small></div></div>
				<div class="mam-4-7"><div><small>Day 7</small></div></div>
				<div class="mam-4-8"><div><small>Day 8</small></div></div>
				<div class="mam-4-9"><div><small>Day 9</small></div></div>
				<div class="mam-4-10"><div><small>Day 10</small></div></div>
				<div class="mam-4-11"><div><small>Day 11</small></div></div>
				<div class="mam-4-12"><div><small>Day 12</small></div></div>
				<div class="mam-4-13"><div><small>Day 13</small></div></div>
				<div class="mam-4-14"><div><small>Day 14</small></div></div>
				<div class="mam-4-15"><div><small>Day 15</small></div></div>
				<div class="mam-4-16"><div><small>Day 16</small></div></div>
				<div class="mam-4-17"><div><small>Day 17</small></div></div>
				<div class="mam-4-18"><div><small>Day 18</small></div></div>
			</div>				
		</div>

		<div class="slide" data-anchor="5-makes-8">
			<div class="mix-and-match-5 mm_browse">
				<div class="overview">					
					<div style="width: 100% !important">
					<iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/YH95KoM_CYM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>		
					<div class="info">
							<h2>5 GARMENTS<br/>8 OUTFITS</h2>
							<p>Save time and money. 5 basic garments become 8 unique mix and match outfits.</p>
					</div>					
					<div class="mam-5-8"></div>
					<div class="mam-5-7"></div>
					<div class="mam-5-6"></div>
					<div class="mam-5-5"></div>
					<div class="mam-5-4"></div>
					<div class="mam-5-3"></div>					
				</div>					
				<div class="mam-5-1"><div><small>Day 1</small></div></div>
				<div class="mam-5-2"><div><small>Day 2</small></div></div>
				<div class="mam-5-3"><div><small>Day 3</small></div></div>
				<div class="mam-5-4"><div><small>Day 4</small></div></div>
				<div class="mam-5-5"><div><small>Day 5</small></div></div>
				<div class="mam-5-6"><div><small>Day 6</small></div></div>
				<div class="mam-5-7"><div><small>Day 7</small></div></div>
				<div class="mam-5-8"><div><small>Day 8</small></div></div>
			</div>
		</div>

		<div class="slide" data-anchor="9-makes-25">
			<div class="mix-and-match-6 mm_browse">
				<div class="overview">					
					<div style="width: 100% !important">
					<iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/5alYb9xHfMw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>		
					<div class="info">
							<h2>9 GARMENTS<br/>22 OUTFITS</h2>
							<p>Get the most out of every item you purchase. 5 basic garments become 8 unique mix and match outfits with our corporate clothing dress-up tool.</p>
					</div>					
					<div class="mam-6-11"></div>
					<div class="mam-6-12"></div>
					<div class="mam-6-13"></div>
					<div class="mam-6-14"></div>
					<div class="mam-6-15"></div>
					<div class="mam-6-16"></div>					
				</div>				
				<div class="mam-6-1"><div><small>Day 1</small></div></div>
				<div class="mam-6-2"><div><small>Day 2</small></div></div>
				<div class="mam-6-3"><div><small>Day 3</small></div></div>
				<div class="mam-6-4"><div><small>Day 4</small></div></div>
				<div class="mam-6-5"><div><small>Day 5</small></div></div>
				<div class="mam-6-6"><div><small>Day 6</small></div></div>
				<div class="mam-6-7"><div><small>Day 7</small></div></div>
				<div class="mam-6-8"><div><small>Day 8</small></div></div>
				<div class="mam-6-9"><div><small>Day 9</small></div></div>
				<div class="mam-6-10"><div><small>Day 10</small></div></div>
				<div class="mam-6-11"><div><small>Day 11</small></div></div>
				<div class="mam-6-12"><div><small>Day 12</small></div></div>
				<div class="mam-6-13"><div><small>Day 13</small></div></div>
				<div class="mam-6-14"><div><small>Day 14</small></div></div>
				<div class="mam-6-15"><div><small>Day 15</small></div></div>
				<div class="mam-6-16"><div><small>Day 16</small></div></div>
				<div class="mam-6-17"><div><small>Day 17</small></div></div>
				<div class="mam-6-18"><div><small>Day 18</small></div></div>
				<div class="mam-6-19"><div><small>Day 19</small></div></div>
				<div class="mam-6-20"><div><small>Day 20</small></div></div>
				<div class="mam-6-21"><div><small>Day 21</small></div></div>
				<div class="mam-6-22"><div><small>Day 22</small></div></div>
				<!--
				<div class="mam-6-23"><div><small>Day 23</small></div></div>
				<div class="mam-6-24"><div><small>Day 24</small></div></div>
				<div class="mam-6-25"><div><small>Day 25</small></div></div>
				 -->																										
			</div>				
		</div>

		<div class="slide" data-anchor="9-makes-34">
			<div class="mix-and-match-7 mm_browse">
				<div class="overview top-three">					
					<div class="mam-7-19"></div>
					<div class="mam-7-18"></div>
					<div class="mam-7-17"></div>					
					<div class="info-block">
							<h2>9 GARMENTS<br/>34 OUTFITS</h2>
							<p>With 9 basic garments, our corporate clothing dress-up tool provides you with 34 unique mix and match outfits.</p>
					</div>					
					<div class="mam-7-16"></div>
					<div class="mam-7-28"></div>
					<div class="mam-7-14"></div>			
					<div class="mam-7-13"></div>
					<div class="mam-7-12"></div>
					<div class="mam-7-11"></div>								
				</div>					
				<div class="mam-7-1"><div><small>Day 1</small></div></div>
				<div class="mam-7-2"><div><small>Day 2</small></div></div>
				<div class="mam-7-3"><div><small>Day 3</small></div></div>
				<div class="mam-7-4"><div><small>Day 4</small></div></div>
				<div class="mam-7-5"><div><small>Day 5</small></div></div>
				<div class="mam-7-6"><div><small>Day 6</small></div></div>
				<div class="mam-7-7"><div><small>Day 7</small></div></div>
				<div class="mam-7-8"><div><small>Day 8</small></div></div>
				<div class="mam-7-9"><div><small>Day 9</small></div></div>
				<div class="mam-7-10"><div><small>Day 10</small></div></div>
				<div class="mam-7-11"><div><small>Day 11</small></div></div>
				<div class="mam-7-12"><div><small>Day 12</small></div></div>
				<div class="mam-7-13"><div><small>Day 13</small></div></div>
				<div class="mam-7-14"><div><small>Day 14</small></div></div>
				<div class="mam-7-15"><div><small>Day 15</small></div></div>
				<div class="mam-7-16"><div><small>Day 16</small></div></div>
				<div class="mam-7-17"><div><small>Day 17</small></div></div>
				<div class="mam-7-18"><div><small>Day 18</small></div></div>
				<div class="mam-7-19"><div><small>Day 19</small></div></div>
				<div class="mam-7-20"><div><small>Day 20</small></div></div>
				<div class="mam-7-21"><div><small>Day 21</small></div></div>
				<div class="mam-7-22"><div><small>Day 22</small></div></div>
				<div class="mam-7-23"><div><small>Day 23</small></div></div>
				<div class="mam-7-24"><div><small>Day 24</small></div></div>
				<div class="mam-7-25"><div><small>Day 25</small></div></div>	
				<div class="mam-7-26"><div><small>Day 26</small></div></div>
				<div class="mam-7-27"><div><small>Day 27</small></div></div>
				<div class="mam-7-28"><div><small>Day 28</small></div></div>
				<div class="mam-7-29"><div><small>Day 29</small></div></div>
				<div class="mam-7-30"><div><small>Day 30</small></div></div>
				<div class="mam-7-31"><div><small>Day 31</small></div></div>
				<div class="mam-7-32"><div><small>Day 32</small></div></div>
				<div class="mam-7-33"><div><small>Day 33</small></div></div>
				<div class="mam-7-34"><div><small>Day 34</small></div></div>	
			</div>	
		</div>

		<div class="slide" data-anchor="12-makes-40">
			<div class="mix-and-match-8 mm_browse">
				<div class="overview">					
					<div style="width: 100% !important">
					<iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/upuS_Zm2yoY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>		
					<div class="info">
							<h2>9 GARMENTS<br/>40 OUTFITS</h2>
							<p>Get the most out of every item you purchase. 9 basic garments become 40 unique mix and match outfits.</p>
					</div>					
					<div class="mam-8-11"></div>
					<div class="mam-8-12"></div>
					<div class="mam-8-13"></div>
					<div class="mam-8-14"></div>
					<div class="mam-8-15"></div>
					<div class="mam-8-16"></div>					
				</div>					
				<div class="mam-8-1"><div><small>Day 1</small></div></div>
				<div class="mam-8-2"><div><small>Day 2</small></div></div>
				<div class="mam-8-3"><div><small>Day 3</small></div></div>
				<div class="mam-8-4"><div><small>Day 4</small></div></div>
				<div class="mam-8-5"><div><small>Day 5</small></div></div>
				<div class="mam-8-6"><div><small>Day 6</small></div></div>
				<div class="mam-8-7"><div><small>Day 7</small></div></div>
				<div class="mam-8-8"><div><small>Day 8</small></div></div>
				<div class="mam-8-9"><div><small>Day 9</small></div></div>
				<div class="mam-8-10"><div><small>Day 10</small></div></div>
				<div class="mam-8-11"><div><small>Day 11</small></div></div>
				<div class="mam-8-12"><div><small>Day 12</small></div></div>
				<div class="mam-8-13"><div><small>Day 13</small></div></div>
				<div class="mam-8-14"><div><small>Day 14</small></div></div>
				<div class="mam-8-15"><div><small>Day 15</small></div></div>
				<div class="mam-8-16"><div><small>Day 16</small></div></div>
				<div class="mam-8-17"><div><small>Day 17</small></div></div>
				<div class="mam-8-18"><div><small>Day 18</small></div></div>
				<div class="mam-8-19"><div><small>Day 19</small></div></div>
				<div class="mam-8-20"><div><small>Day 20</small></div></div>
				<div class="mam-8-21"><div><small>Day 21</small></div></div>
				<div class="mam-8-22"><div><small>Day 22</small></div></div>
				<div class="mam-8-23"><div><small>Day 23</small></div></div>
				<div class="mam-8-24"><div><small>Day 24</small></div></div>
				<div class="mam-8-25"><div><small>Day 25</small></div></div>								
				<div class="mam-8-26"><div><small>Day 26</small></div></div>
				<div class="mam-8-27"><div><small>Day 27</small></div></div>
				<div class="mam-8-28"><div><small>Day 28</small></div></div>
				<div class="mam-8-29"><div><small>Day 29</small></div></div>
				<div class="mam-8-30"><div><small>Day 30</small></div></div>
				<div class="mam-8-31"><div><small>Day 31</small></div></div>
				<div class="mam-8-32"><div><small>Day 32</small></div></div>
				<div class="mam-8-33"><div><small>Day 33</small></div></div>
				<div class="mam-8-34"><div><small>Day 34</small></div></div>				
				<div class="mam-8-35"><div><small>Day 35</small></div></div>	
				<div class="mam-8-36"><div><small>Day 36</small></div></div>	
				<div class="mam-8-37"><div><small>Day 37</small></div></div>	
				<div class="mam-8-38"><div><small>Day 38</small></div></div>	
				<div class="mam-8-39"><div><small>Day 39</small></div></div>	
				<div class="mam-8-40"><div><small>Day 40</small></div></div>	
			</div>
		</div>

		<div class="mix-match-nav">

			<div class="mm-scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>

			<div class="mm-frame">

				<ul class="slidee">

					<li>
						<a href="#mix-and-match/5-makes-8-blue">
							<div class="team-title">{{ mixMatch[0].name}}</div>
						</a>
					</li>

					<li>
						<a href="#mix-and-match/5-makes-8-pink">
							<div class="team-title">{{ mixMatch[1].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#mix-and-match/7-makes-18-colour">
							<div class="team-title">{{ mixMatch[2].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#mix-and-match/7-makes-18-color">
							<div class="team-title">{{ mixMatch[3].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#mix-and-match/5-makes-8">
							<div class="team-title">{{ mixMatch[4].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#mix-and-match/9-makes-25">
							<div class="team-title">{{ mixMatch[5].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#mix-and-match/9-makes-34">
							<div class="team-title">{{ mixMatch[6].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#mix-and-match/12-makes-40">
							<div class="team-title">{{ mixMatch[7].name}}</div>
						</a>					
					</li>

				</ul>

			</div>

		</div>
 
	</div>
</template>

<script>

	export default {
	    data() {
	        return {
	        	mixMatch:  [
	        	{
	        		"name" : "5 Garments / 8 Outfits"
	        	},
	        	{
	        		"name" : "5 Garments / 8 Outfits"
	        	},
	        	{
	        		"name" : "7 Garments / 18 Outfits"
	        	},
	        	{
	        		"name" : "7 Garments / 18 Outfits"
	        	},
	        	{
	        		"name" : "5 Garments / 8 Outfits"
	        	},
	        	{
	        		"name" : "9 Garments / 25 Outfits"
	        	},
	        	{
	        		"name" : "9 Garments / 34 Outfits"
	        	},
	        	{
	        		"name" : "12 Garments / 40 Outfits"
	        	}
	        	]
	        }
	    }
	}
	
</script>

<style lang="scss" scoped>

  $path: 'https://www.imagemakers.co.za/wp-content/uploads/2017/';

	.active .loadImage {

		div[class^="mam-"] {	animation: softly 1s; } 

		.mam-1-1 {background-image:url('#{$path}01/m1-pic-1-769x1024.jpg'); }
	  .mam-1-2 {background-image:url('#{$path}01/m1-pic-8-769x1024.jpg'); }
	  .mam-1-3 {background-image:url('#{$path}01/m1-pic-5-769x1024.jpg'); }
	  .mam-1-4 {background-image:url('#{$path}01/m1-pic-2-769x1024.jpg'); }
	  .mam-1-5 {background-image:url('#{$path}01/m1-pic-3-769x1024.jpg'); }
	  .mam-1-6 {background-image:url('#{$path}01/m1-pic-7-769x1024.jpg'); }
	  .mam-1-7 {background-image:url('#{$path}01/m1-pic-4-769x1024.jpg'); }
	  .mam-1-8 {background-image:url('#{$path}01/m1-pic-6-769x1024.jpg'); }

		.mam-2-1 {background-image:url('#{$path}03/m4-pic-10.jpg'); }
	  .mam-2-2 {background-image:url('#{$path}03/m4-pic-1.jpg'); }
	  .mam-2-3 {background-image:url('#{$path}03/m4-pic-3.jpg'); }
	  .mam-2-4 {background-image:url('#{$path}03/m4-pic-7.jpg'); }
	  .mam-2-5 {background-image:url('#{$path}03/m4-pic-8.jpg'); }
	  .mam-2-6 {background-image:url('#{$path}03/m4-pic-5.jpg'); }
	  .mam-2-7 {background-image:url('#{$path}03/m4-pic-4.jpg'); }
	  .mam-2-8 {background-image:url('#{$path}03/m4-pic-2.jpg'); }

	  .mam-3-1 {background-image:url('#{$path}01/m2-pic-1.jpg}'); }
	  .mam-3-2 {background-image:url('#{$path}01/m2-pic-2.jpg}'); }
	  .mam-3-3 {background-image:url('#{$path}01/m2-pic-3.jpg}'); }
	  .mam-3-4 {background-image:url('#{$path}01/m2-pic-4.jpg}'); }
	  .mam-3-5 {background-image:url('#{$path}01/m2-pic-5.jpg}'); }
	  .mam-3-6 {background-image:url('#{$path}01/m2-pic-6.jpg}'); }
	  .mam-3-7 {background-image:url('#{$path}01/m2-pic-7.jpg}'); }
	  .mam-3-8 {background-image:url('#{$path}01/m2-pic-8.jpg}'); }
	  .mam-3-9 {background-image:url('#{$path}01/m2-pic-9.jpg}'); }
	  .mam-3-10 {background-image:url('#{$path}01/m2-pic-10.jpg}'); }
	  .mam-3-11 {background-image:url('#{$path}01/m2-pic-11.jpg}'); }
	  .mam-3-12 {background-image:url('#{$path}01/m2-pic-12.jpg}'); }
	  .mam-3-13 {background-image:url('#{$path}01/m2-pic-13.jpg}'); }
	  .mam-3-14 {background-image:url('#{$path}01/m2-pic-14.jpg}'); }
	  .mam-3-15 {background-image:url('#{$path}01/m2-pic-15.jpg}'); }
	  .mam-3-16 {background-image:url('#{$path}01/m2-pic-16.jpg}'); }
	  .mam-3-17 {background-image:url('#{$path}01/m2-pic-17.jpg}'); }
	  .mam-3-18 {background-image:url('#{$path}01/m2-pic-18.jpg}'); }

	   .mam-4-1 {background-image:url('#{$path}04/m6-pic-6.jpg}'); }
	   .mam-4-2 {background-image:url('#{$path}04/m6-pic-17.jpg}'); }
	   .mam-4-3 {background-image:url('#{$path}04/m6-pic-4.jpg}'); }
	   .mam-4-4 {background-image:url('#{$path}04/m6-pic-18.jpg}'); }
	   .mam-4-5 {background-image:url('#{$path}04/m6-pic-11.jpg}'); }
	   .mam-4-6 {background-image:url('#{$path}04/m6-pic-2.jpg}'); }
	   .mam-4-7 {background-image:url('#{$path}04/m6-pic-8.jpg}'); }
	   .mam-4-8 {background-image:url('#{$path}04/m6-pic-15.jpg}'); }
	   .mam-4-9 {background-image:url('#{$path}04/m6-pic-19.jpg}'); }
	  .mam-4-10 {background-image:url('#{$path}04/m6-pic-7.jpg}'); }
	  .mam-4-11 {background-image:url('#{$path}04/m6-pic-3.jpg}'); }
	  .mam-4-12 {background-image:url('#{$path}04/m6-pic-13.jpg}'); }
	  .mam-4-13 {background-image:url('#{$path}04/m6-pic-5.jpg}'); }
	  .mam-4-14 {background-image:url('#{$path}04/m6-pic-9.jpg}'); }
	  .mam-4-15 {background-image:url('#{$path}04/m6-pic-12.jpg}'); }
	  .mam-4-16 {background-image:url('#{$path}04/m6-pic-10.jpg}'); }
	  .mam-4-17 {background-image:url('#{$path}04/m6-pic-16.jpg}'); }
	  .mam-4-18 {background-image:url('#{$path}04/m6-pic-1.jpg}'); }

	  .mam-5-1 {background-image:url('#{$path}04/m8-pic-4.jpg}'); }
	  .mam-5-2 {background-image:url('#{$path}04/m8-pic-11.jpg}'); }
	  .mam-5-3 {background-image:url('#{$path}04/m8-pic-9.jpg}'); }
	  .mam-5-4 {background-image:url('#{$path}04/m8-pic-12.jpg}'); }
	  .mam-5-5 {background-image:url('#{$path}04/m8-pic-7.jpg}'); }
	  .mam-5-6 {background-image:url('#{$path}04/m8-pic-5.jpg}'); }
	  .mam-5-7 {background-image:url('#{$path}04/m8-pic-14.jpg}'); }
	  .mam-5-8 {background-image:url('#{$path}04/m8-pic-1.jpg}'); }

		.mam-6-1 {background-image:url('#{$path}04/m7-pic-5.jpg}'); }
		.mam-6-2 {background-image:url('#{$path}04/m7-pic-13.jpg}'); }
		.mam-6-3 {background-image:url('#{$path}04/m7-pic-27.jpg}'); }
		.mam-6-4 {background-image:url('#{$path}04/m7-pic-22.jpg}'); }
		.mam-6-5 {background-image:url('#{$path}04/m7-pic-24.jpg}'); }
		.mam-6-6 {background-image:url('#{$path}04/m7-pic-25.jpg}'); }
		.mam-6-7 {background-image:url('#{$path}04/m7-pic-20.jpg}'); }
		.mam-6-8 {background-image:url('#{$path}04/m7-pic-29-2.jpg}'); }
		.mam-6-9 {background-image:url('#{$path}04/m7-pic-23.jpg}'); }
		.mam-6-10 {background-image:url('#{$path}04/m7-pic-12.jpg}'); }
		.mam-6-11 {background-image:url('#{$path}04/m7-pic-14.jpg}'); }
		.mam-6-12 {background-image:url('#{$path}04/m7-pic-15.jpg}'); }
		.mam-6-13 {background-image:url('#{$path}04/m7-pic-6.jpg}'); }
		.mam-6-14 {background-image:url('#{$path}04/m7-pic-11.jpg}'); }
		.mam-6-15 {background-image:url('#{$path}04/m7-pic-26.jpg}'); }
		.mam-6-16 {background-image:url('#{$path}04/m7-pic-4.jpg}'); }
		.mam-6-17 {background-image:url('#{$path}04/m7-pic-17.jpg}'); }
		.mam-6-18 {background-image:url('#{$path}04/m7-pic-21.jpg}'); }				
		.mam-6-19 {background-image:url('#{$path}04/m7-pic-9.jpg}'); }
		.mam-6-20 {background-image:url('#{$path}04/m7-pic-2.jpg}'); }
		.mam-6-21 {background-image:url('#{$path}04/m7-pic-7.jpg}'); }
		.mam-6-22 {background-image:url('#{$path}04/m7-pic-1.jpg}'); }
		.mam-6-23 {background-image:url('#{$path}04/m7-pic-14.jpg}'); }
		.mam-6-24 {background-image:url('#{$path}04/m7-pic-10.jpg}'); }
		.mam-6-25 {background-image:url('#{$path}04/m7-pic-28.jpg}'); }

		 .mam-7-1 {background-image:url('#{$path}01/m3-pic-1.jpg}'); }
		 .mam-7-2 {background-image:url('#{$path}01/m3-pic-2.jpg}'); }
		 .mam-7-3 {background-image:url('#{$path}01/m3-pic-3.jpg}'); }
		 .mam-7-4 {background-image:url('#{$path}01/m3-pic-4.jpg}'); }
		 .mam-7-5 {background-image:url('#{$path}01/m3-pic-5.jpg}'); }
		 .mam-7-6 {background-image:url('#{$path}01/m3-pic-6.jpg}'); }
		 .mam-7-7 {background-image:url('#{$path}01/m3-pic-7.jpg}'); }
		 .mam-7-8 {background-image:url('#{$path}01/m3-pic-8.jpg}'); }
		 .mam-7-9 {background-image:url('#{$path}01/m3-pic-9.jpg}'); }
		.mam-7-10 {background-image:url('#{$path}01/m3-pic-10.jpg}'); }
		.mam-7-11 {background-image:url('#{$path}01/m3-pic-11.jpg}'); }
		.mam-7-12 {background-image:url('#{$path}01/m3-pic-12.jpg}'); }
		.mam-7-13 {background-image:url('#{$path}01/m3-pic-13.jpg}'); }
		.mam-7-14 {background-image:url('#{$path}01/m3-pic-14.jpg}'); }
		.mam-7-15 {background-image:url('#{$path}01/m3-pic-15.jpg}'); }
		.mam-7-16 {background-image:url('#{$path}01/m3-pic-16.jpg}'); }
		.mam-7-17 {background-image:url('#{$path}01/m3-pic-17.jpg}'); }
		.mam-7-18 {background-image:url('#{$path}01/m3-pic-18.jpg}'); }
		.mam-7-19 {background-image:url('#{$path}01/m3-pic-19.jpg}'); }
		.mam-7-20 {background-image:url('#{$path}01/m3-pic-20.jpg}'); }
		.mam-7-21 {background-image:url('#{$path}01/m3-pic-21.jpg}'); }
		.mam-7-22 {background-image:url('#{$path}01/m3-pic-22.jpg}'); }
		.mam-7-23 {background-image:url('#{$path}01/m3-pic-23.jpg}'); }
		.mam-7-24 {background-image:url('#{$path}01/m3-pic-24.jpg}'); }
		.mam-7-25 {background-image:url('#{$path}01/m3-pic-25.jpg}'); }
		.mam-7-26 {background-image:url('#{$path}01/m3-pic-26.jpg}'); }
		.mam-7-27 {background-image:url('#{$path}01/m3-pic-27.jpg}'); }
		.mam-7-28 {background-image:url('#{$path}01/m3-pic-28.jpg}'); }
		.mam-7-29 {background-image:url('#{$path}01/m3-pic-29.jpg}'); }
		.mam-7-30 {background-image:url('#{$path}01/m3-pic-30.jpg}'); }
		.mam-7-31 {background-image:url('#{$path}01/m3-pic-31.jpg}'); }
		.mam-7-32 {background-image:url('#{$path}01/m3-pic-32.jpg}'); }
		.mam-7-33 {background-image:url('#{$path}01/m3-pic-33.jpg}'); }
		.mam-7-34 {background-image:url('#{$path}01/m3-pic-34.jpg}'); }		
		 .mam-8-1 {background-image:url('#{$path}04/m5-pic-18.jpg}'); }
		 .mam-8-2 {background-image:url('#{$path}04/m5-pic-2.jpg}'); }
		 .mam-8-3 {background-image:url('#{$path}04/m5-pic-37.jpg}'); }
		 .mam-8-4 {background-image:url('#{$path}04/m5-pic-29.jpg}'); }
		 .mam-8-5 {background-image:url('#{$path}04/m5-pic-8.jpg}'); }
		 .mam-8-6 {background-image:url('#{$path}04/m5-pic-36.jpg}'); }
		 .mam-8-7 {background-image:url('#{$path}04/m5-pic-16.jpg}'); }
		 .mam-8-8 {background-image:url('#{$path}04/m5-pic-40.jpg}'); }
		 .mam-8-9 {background-image:url('#{$path}04/m5-pic-21.jpg}'); }
		.mam-8-10 {background-image:url('#{$path}04/m5-pic-5.jpg}'); }
		.mam-8-11 {background-image:url('#{$path}04/m5-pic-3.jpg}'); }
		.mam-8-12 {background-image:url('#{$path}04/m5-pic-20.jpg}'); }
		.mam-8-13 {background-image:url('#{$path}04/m5-pic-1.jpg}'); }
		.mam-8-14 {background-image:url('#{$path}04/m5-pic-28.jpg}'); }
		.mam-8-15 {background-image:url('#{$path}04/m5-pic-38.jpg}'); }
		.mam-8-16 {background-image:url('#{$path}04/m5-pic-10.jpg}'); }
		.mam-8-17 {background-image:url('#{$path}04/m5-pic-35.jpg}'); }
		.mam-8-18 {background-image:url('#{$path}04/m5-pic-15.jpg}'); }
		.mam-8-19 {background-image:url('#{$path}04/m5-pic-17.jpg}'); }
		.mam-8-20 {background-image:url('#{$path}04/m5-pic-22.jpg}'); }				
		.mam-8-21 {background-image:url('#{$path}04/m5-pic-39.jpg}'); }
		.mam-8-22 {background-image:url('#{$path}04/m5-pic-7.jpg}'); }
		.mam-8-23 {background-image:url('#{$path}04/m5-pic-27.jpg}'); }
		.mam-8-24 {background-image:url('#{$path}04/m5-pic-6.jpg}'); }
		.mam-8-25 {background-image:url('#{$path}04/m5-pic-30.jpg}'); }
		.mam-8-26 {background-image:url('#{$path}04/m5-pic-31.jpg}'); }
		.mam-8-27 {background-image:url('#{$path}04/m5-pic-12.jpg}'); }
		.mam-8-28 {background-image:url('#{$path}04/m5-pic-26.jpg}'); }
		.mam-8-29 {background-image:url('#{$path}04/m5-pic-11.jpg}'); }
		.mam-8-30 {background-image:url('#{$path}04/m5-pic-13.jpg}'); }
		.mam-8-31 {background-image:url('#{$path}04/m5-pic-4.jpg}'); }
		.mam-8-32 {background-image:url('#{$path}04/m5-pic-34.jpg}'); }
		.mam-8-33 {background-image:url('#{$path}04/m5-pic-19.jpg}'); }
		.mam-8-34 {background-image:url('#{$path}04/m5-pic-23.jpg}'); }
		.mam-8-35 {background-image:url('#{$path}04/m5-pic-24.jpg}'); }
		.mam-8-36 {background-image:url('#{$path}04/m5-pic-9.jpg}'); }
		.mam-8-37 {background-image:url('#{$path}04/m5-pic-33.jpg}'); }
		.mam-8-38 {background-image:url('#{$path}04/m5-pic-14.jpg}'); }
		.mam-8-39 {background-image:url('#{$path}04/m5-pic-25.jpg}'); }
		.mam-8-40 {background-image:url('#{$path}04/m5-pic-32.jpg}'); }		  

	}

	.mm { 

			height: calc(100vh - 73px); 
			font-family: DIN-Medium, arial, sans-serif
	}

	/* slick */
	.mm_browse {

		height: calc(100vh - 105px);

	 	div { width: calc(768px - 0px); margin: 37px 0px 0 0; height: calc(100vh - 110px); background-size: cover; background-repeat: no-repeat; background-position: center top; }	
	 	div small {  top: 50%; position: absolute; color: #828080; text-transform: uppercase; font-size: 14px; font-family: DIN-Medium; padding: 0 0 0 10px; text-shadow: 0px 1px 1px #fff;  }
		div:focus { outline: 0 none; }

		.overview {

			div {
				margin: 0px;
				width: 33.33%;
				float: left;
				height: 29.7vh;
				background-color: #fff;
			}

			.info-block {

					background: linear-gradient(#eeeeee, #d6d3d3);					
	    		font-family: Lato-Regular;
	    		color: #555;					

					h2 {
						padding: 20px 20px 0px;
						font-size: 1.3em;
					}

					p {
						padding: 20px;

					}				

			}

			.info {

				background: linear-gradient(#eeeeee, #d6d3d3);
				height: 100vh;
    		font-family: Lato-Regular;
    		color: #555;					

				h2 {
					padding: 20px 20px 0px;
					font-size: 1.3em;
				}

				p {
					padding: 20px;

				}

			}
		}			

	}	

	/* sly */
	.mix-match-nav { 
		
	margin: 0 auto;

		.mm-frame {

			margin: 0 auto; width: 100%; height: 35px; overflow: hidden; text-shadow: none; position: absolute; top: 74px; z-index: 9;

			ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px }
			ul li { float: left; width: auto; height: 100%; margin: 0 1px 0 0; padding: 0;/* background: #eee;*/ color: #ccc; cursor: pointer; opacity: 0.96;   }
			ul li.active { /*color: #fff; background: #777*/ }
			ul li .team-title { font-size:12px;  }
			ul li.active .team-title { /*background-color: #ccc;*/ color: orange !important; transition: all .2s ease; } .box { width: 50px; height: 10px; float: left	}
			.categorySliderNav { width: 100px }

		}

		.mm-scrollbar { 

			margin: 0 auto 30px; width: 100%; height: 5px; line-height: 0; position: absolute; bottom: 50px; z-index: 9; display: none;

			.handle { width: 100px; height: 100%; background: #ccc; cursor: pointer }
			.handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px }

		}

		.team-title {	width: auto; /*background: linear-gradient(#eeeeee, #d6d3d3) !important;*/ color: #555; text-transform: uppercase; text-align: center; padding: 12px 20px; font-size: 12px; height: calc(35px - 24px); }

		.sg_landing { font-size: 12px; line-height: 14px; text-transform: uppercase; color: black; text-align: center; width: 100px; color: #0e0e0e; background-color: #bdc3c7; margin: 0px; padding: 11px 0px;	} 			

}		

	/* seo */ 
	.mask { 

		background-color: black; width: calc(100% - 60px); opacity: 1; height: calc(100vh - 170px); padding: 30px; background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ), url(../../static/images/landing_mix_and_match.jpg); background-size: contain; margin: 37px 0 0 0; 		background-position: center;

		div h1 { color: white; text-transform: uppercase; font-size: 4em; text-shadow: 2px 4px 3px rgba(0,0,0,0.3) }
		div p { color: white; font-size: 1.8em; text-shadow: 2px 4px 3px rgba(0,0,0,0.3) }
		div { background: none; background: transparent; width: calc(100%); display: flex; flex-direction: column; justify-content: flex-end; height: calc(100vh - 270px) }

	}

	@media screen and (min-width: 1000px) {
		.landing div p {  
		  width: calc(800px - 60px) !important;
		  max-width: calc(800px - 60px) !important;
		}    
	}

	@media screen and (max-width: 780px) {
		.mm .slide img { width: 100%;  }
	}

	@media screen and (max-width: 400px) {
		.landing div h1 {  
			font-size: 3em !important;
		}
		.landing div p {  
			font-size: 1.5em !important;
		}
	}

	@media screen and (max-width: 600px) {
		.mix-match-nav .team-title {	width: auto; }
		.mix-match-nav .mm-frame ul li { float: left; width: auto;	 }
	}

	@media screen and (max-width: 600px) {

		.overview {

			div {
				width: 25% !important;
				height: 30.8vh !important;
			}

			.info,
			.info-block {

				width:100% !important;
    		height: 30.8vh !important;				
			
			}
		}

		.top-three div {
			width: 33.33% !important;
		}

	}

</style>

<style>

	.fp-viewing-mix-and-match-mix-and-match .mm .fp-controlArrow.fp-prev,
	.fp-viewing-mix-and-match-mix-and-match .mm .fp-controlArrow.fp-prev:before {
	  display: none !important;
	}		

	.fp-viewing-mix-and-match-mix-and-match .mm .fp-controlArrow.fp-next,
	.fp-viewing-mix-and-match-mix-and-match .mm .fp-controlArrow.fp-next:before {
	  display: block !important;
    right: 13px;
    width: 55px;
    padding: 0 0px 10px 5px;
    border-radius: 5px;
    background-color: white !important;
    height: 58px;
    bottom: 12px;
    opacity: 1;	  
	}					

	.mm .fp-controlArrow.fp-prev,
	.mm .fp-controlArrow.fp-prev:before,
	.mm .fp-controlArrow.fp-next,
	.mm .fp-controlArrow.fp-next:before {
		display: none !important;
	}					

</style>