<template>

	<div class="options-container">		

	</div>

</template>

<script>

</script>

<style>

.options-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  width: calc(100% - 20px);
  height: calc(100vh - 150px);
  margin: 30px 0 100px;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  opacity: 0.95;
  z-index: 777;
  display: none;
  color: white;
}

.enquire-frame,
.order-frame {
	width: 100%; 
	height: 100%; 
	background-color: transparent; 
	border: 0px none transparent; 
	padding: 0px; 
	overflow: hidden;	
}

</style>