<template>
	<div class="options">
        <div class="tag">

            <ul class="large menu">
                <li><a id="morph" href="#order-your-free-catalogue" data-menuanchor="order-your-free-catalogue" class="menulink bta moprh">order your<br/><span class="stronger">free catalogue</span></a></li>
                <!-- title="Receive your free catalogue in 24 to 48 hours" -->
                <li><a href="#make-an-enquiry" class="menulink bta" data-menuanchor="make-an-enquiry">make an<br/><span class="stronger">enquiry</span></a></li>
                <!-- title="Receive feedback in 1 to 12 hours" -->
                <li><a href="#get-a-call-back-in-60-seconds" data-menuanchor="get-a-call-back-in-60-seconds" class="menulink bta">receive a<br/><span class="stronger">call back</span></a></li>
                <!-- title="Receive a call back in under a minute" -->
            </ul>

        </div>

        <div class="indicatorJones"></div>
	</div>
</template>

<script>

  $(function() {
      
    }); 

</script>

<style scoped>

.medium, .small, .primary-medium, .primary-small { display: none; }

.indicatorJones {
    position: fixed; 
    top:110px; 
    left: 0px;
    background: black;
    color: white;
    font-family: DIN-Medium, sans-serif;
    font-size: 18px;
    padding: 5px 10px;
}

.menu {
  -webkit-font-smoothing: antialiased;
  width: auto;
}

.menu li {
  display: block;
  float: left;
}

.tag {
    font-family: DIN-Medium, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #928f8f;
    text-align: left;
    width: auto;
    padding: 0px;
    text-transform: uppercase;
    display: inline-block;
    /*background-color: #131212;*/
}

.options {
    display: block;
    z-index: 999;
    position: fixed;
    right: 75px;
    top: 0px;
    background-color: transparent;
    color:  white;
    width: auto;
    text-align: center; 
}

.options a {    
    color: #dcdcdc;
    display: block;
    text-align: left;
    padding: 6px 10px 4px;
    margin: 0px 1px 1px 0px;
    float: right;
    transition: 1s all ease;
    height: calc(23.5px - 10px);
/*    background-color: #b3babf;*/
    opacity: 0.6;
    /*background: linear-gradient(to right, #4c4c4a , #585757); */
    /*    text-shadow: 1px 2px 2px #101010;  */
    /*  box-shadow: 1px 2px 4px #7b7b7b;*/
}

.options a:hover {
    color: #696464 !important;    
    transition: 1s all ease;    
    background-color: #b3babf;
    opacity: 0.8;
}

a.bta {
    color: #868686;
    display: block;
    text-align: left;
    padding: 22px 20px 18px 10px;
    margin: 0 1px 0 0;
    float: left;
    transition: all 1s ease;
    width: auto;
    height: 32.5px;
    /*background: linear-gradient(90deg,#4c4c4a,#585757);*/
    border-right: 1px dotted #ccc;
}

.stronger {
    color: #272727;
    font-size: 14px;
    /*text-shadow: rgb(16, 16, 16) 1px 2px 2px;*/
}

@media screen and (max-width: 500px) {

    .tag {
        background-color: transparent !important;
    }

    #morph {
        display: none !important;
    }
}

</style>