<template>
	<div class="slide" data-anchor="privacy-policy" id="privacy-policy-section">  	
		<div class="content">
			<div class="main-title hidden">
				<h1>{{ privacy[0] }}</h1>
			</div>
			<small v-html="privacy[1]"></small>
		</div>
	</div>
</template>

<script>

module.exports = {
    data() {
        return {
            privacy: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/113').then( response => { 
	    	this.privacy.push(
	    		response.body.title.rendered, 
	    		response.body.content.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
	  },
	  updated: function() {
	  }
}
	
</script>

<style>
	
</style>
