<template>

	<div class="sc">

		<div class="slide" data-anchor="women" style="background-image: url(static/images/size-chart-lady.png); background-size: contain ;">

			<div class="size">

					<div style=" background-color: #fff; opacity: 0.8; font-size: 14px; padding: 0 5px">
						<small style="text-transform: uppercase;"><span class="circle">A</span>&nbsp;&nbsp;Measure the biggest part of the bust.</small><br/>
						<small style="text-transform: uppercase;"><span class="circle">B</span>&nbsp;&nbsp;Measure the biggest part of the bottom or thighs.</small>
					</div>
				
					<div style="background-color: #fff; opacity: 0.8; font-size: 14px; width: 200px">
						<small>Don't guess your size, ask a friend to measure you with a measuring tape. Have your measurements taken while standing in a relaxed position. Compare your measurements to the size charts below to accurately gauge your size</small>
					</div>

<!-- 				<img src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/fitted-girl.jpg" alt="fitted" /> -->
				<!-- FITTED: These styles are shaped to the contours of the body and are particularly fitted. -->

<!-- 				<img src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/classic-girl.jpg" alt="classic" /> -->
				<!-- CLASSIC: The Classic fit has a tailored shape which sits lightly on the body, giving shape without being too fitted. This fit is suitable for most body types. -->

		<!-- 		<img src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/relaxed-girl.jpg" alt="relaxed" />     -->		
				<!-- RELAXED: The Relaxed fit allows the body more movement and is more suitable for the fuller figure. -->			

			</div>

		</div>

		<div class="slide" data-anchor="men" style="background-image: url(static/images/size-chart-man.png); background-size: contain ;">

			<div class="size">

					<div style=" background-color: #fff; opacity: 0.8; font-size: 14px; padding: 0 5px">
						<small style="text-transform: uppercase;"><span class="circle">A</span>&nbsp;&nbsp;Measure around collar level.</small><br/>
						<small style="text-transform: uppercase;"><span class="circle">B</span>&nbsp;&nbsp;Measure the biggest part of the chest.</small><br/>
						<small style="text-transform: uppercase;"><span class="circle">C</span>&nbsp;&nbsp;Measure the biggest part of the bottom or thighs.</small>
					</div>				
			

			<!-- 	<img src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/fitted-guy.jpg" /> -->
				<!-- FITTED: Suitable for the slimmer figure. Tapered through the shoulders, chest and waist. Straight through the leg. -->
<!-- 
				<img data-src="https://www.imagemakers.co.za/wp-content/uploads/2016/12/classic-guy.jpg" /> -->
				<!-- CLASSIC: Suitable for the medium figure. Loose straight shape. Pleat front pants to allow for more movement. -->
				
			
			</div>

		</div>

	</div>
</template>

<script>
	export default {
	    data() {
	    	return  {

	    	}
	    },
		  created: function() {

		  },
		  updated: function() {
		  }
	}
	
</script>

<style scoped>

	.sc { height:calc(100vh - 115px); background-color: transparent	}	
	.sc .circle { font-size: 18px; line-height: 18px; color: black; }

	.sc .slide .size { width: 100%; background-color: transparent; float: left; font-family: 'DIN-Medium'; color: #555; }

	@media screen and (max-width: 500px) {
		.sc .slide {
			background-position: -100% 0%
		}
	}	

</style>