<template>

	<div class="sg">

		<div class="slide landing" data-anchor="style-guide">
			<div class="mask">
				<div>
					<h1>Style Guide</h1><br/>
					<p>First impressions last, with clothing tailored to your shape. </p>				
				</div>				
			</div>
		</div>

		<div class="slide" data-anchor="dresses">
			<div class="dresses sg_browse">		
				<div class="dresses_1">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">ROMY DRESS</span>
							<span class="description">Fitted Classic Shift Dress. Lined.</span>
							<span class="sizes">Sizes 26 - 44</span>
							<span class="code">FD12</span>	
						</p>		
					</div>
				</div>
				<div class="dresses_2">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">RACHEL DRESS</span>
							<span class="description">Classic A-Line Dress with Short Sleeves. Lined.</span>
							<span class="sizes">Sizes 30 - 54</span>
							<span class="code">FD15</span>	
						</p>		
					</div>
				</div>
				<div class="dresses_3">
					<div>
						<p class="more-info">
							<span class="type">{{ styleGuideWoman[2].more[0].type }}</span>													
							<span class="name">{{ styleGuideWoman[2].more[0].name }}</span>
							<span class="description">{{ styleGuideWoman[2].more[0].description }}</span>
							<span class="sizes">{{ styleGuideWoman[2].more[0].sizes }}</span>
							<span class="code">{{ styleGuideWoman[2].more[0].code }}</span>	
						</p>		
					</div>
				</div>			
				<div class="dresses_4">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">GIA DRESS</span>
							<span class="description">Sleeveless, Soft Shift Dress, Unlined</span>
							<span class="sizes">Sizes 26 - 44</span>
							<span class="code">SD02</span>	
						</p>		
					</div>
				</div>		
				<div class="dresses_5">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CIARA DRESS</span>
							<span class="description">Short Sleeve Soft Shift Dress, Unlined</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">SD03</span>	
						</p>		
					</div>
				</div>		
				<div class="dresses_6">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CLAUDIA DRESS</span>
							<span class="description">Adjustable Sleeve, Soft Shirtdress, Unlined</span>
							<span class="sizes">Sizes 26 - 54</span>
							<span class="code">SD01</span>	
						</p>		
					</div>					
				</div>		
				<div class="dresses_7">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">JASMINE DRESS</span>
							<span class="description">Elbow, Sleeve Wrap Knit Dress</span>
							<span class="sizes">Sizes XS - XL</span>
							<span class="code">KD01</span>	
						</p>		
					</div>					
				</div>		
			</div>
		</div>

		<div class="slide" data-anchor="jackets">
			<div class="jackets sg_browse">
				<div class="jackets_1">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">KIERA JACKET</span>
							<span class="description">Long Sleeve, Contrast, Collar Jacket, Lined</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">FJ88</span>	
						</p>		
					</div>					
				</div>
 				<div class="jackets_2">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">MARIET JACKET</span>
							<span class="description">Long Sleeve, Eyelet &amp; piping detail, Mock flap pockets, Lined</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">FJ91</span>	
						</p>		
					</div>	
 				</div>
				<div class="jackets_3">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">TORI JACKET</span>
							<span class="description">Sleeveless, Longline belted jacket, Lined</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">FJ90</span>	
						</p>		
					</div>						
				</div>
				<div class="jackets_4">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">VIVIEN JACKET</span>
							<span class="description">Classic Sleeveless Jacket with Jet Pockets. Lined.</span>
							<span class="sizes">Sizes 30 - 54</span>
							<span class="code">FJ80</span>	
						</p>		
					</div>
				</div>	
				<div class="jackets_5">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">MANILA JACKET</span>
							<span class="description">Long Sleeve, Metal clasp detail, Lined</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">FJ90</span>	
						</p>		
					</div>
				</div>				
				<div class="jackets_6">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">MARIE JACKET</span>
							<span class="description">Fitted, Short Sleeve Cropped Jacket with Flap Pockets. Lined.</span>
							<span class="sizes">Sizes 26 - 44</span>
							<span class="code">FJ84</span>	
						</p>		
					</div>
				</div>
				<div class="jackets_7">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">JORDAN JACKET</span>
							<span class="description">Fitted, Long Sleeve Short Jacket with Zip Pockets. Lined.</span>
							<span class="sizes">Sizes 28 - 44</span>
							<span class="code">FJ77</span>	
						</p>		
					</div>										
				</div>
				<div class="jackets_8">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">NIKITA JACKET</span>
							<span class="description">Fitted Long Sleeve Jacket with Flaps. Lined.</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">FJ78</span>	
						</p>		
					</div>		
				</div>
				<div class="jackets_9">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CELIA JACKET</span>
							<span class="description">Classic Short Sleeve Jacket with Front Lined.</span>
							<span class="sizes">Sizes 26 - 54</span>
							<span class="code">FJ86</span>	
						</p>		
					</div>						
				</div>
				<div class="jackets_10">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CELINE JACKET</span>
							<span class="description">Classic Long Sleeve, Medium-length Jacket with Jet Pockets. Lined.</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">FJ61</span>	
						</p>		
					</div>	
				</div>
			</div>
		</div>

		<div class="slide" data-anchor="tops">
			<div class="tops sg_browse">
				<div class="tops_1">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">MAGGY TOP</span>
							<span class="description">Fitted Cap Sleeve with a Panelled Shell Top. Unlined.</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">FT25</span>	
						</p>		
					</div>	
				</div>
				<div class="tops_2">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">MORGAN TOP</span>
							<span class="description">Classic 3/4 Sleeve with Hidden Pockets. Unlined.</span>
							<span class="sizes">Sizes 30 - 54</span>
							<span class="code">FT25</span>	
						</p>		
					</div>
				</div>
				<div class="tops_3">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">LOLA TOP</span>
							<span class="description">Short Sleeve, Draped Collar with Pleat Detail.</span>
							<span class="sizes">Sizes XS - XXL</span>
							<span class="code">KT01</span>	
						</p>		
					</div>
				</div>
				<div class="tops_4">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">LIEZEL TOP</span>
							<span class="description">3/4 Sleeve, Cowl Neck.</span>
							<span class="sizes">Sizes XS - XXL</span>
							<span class="code">KT02</span>	
						</p>		
					</div>					
				</div>				
			</div>
		</div>

		<div class="slide" data-anchor="pants">
			<div class="pants sg_browse">		
				<div class="pants_1">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">CHRISTINE SLAX</span>
							<span class="description">Fitted, Long Slim Leg Classic Pants</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">FP28</span>	
						</p>		
					</div>
				</div>
				<div class="pants_2">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">PARIS SLAX</span>
							<span class="description">Slim leg, ankle length, turn up, back welt pocket detail</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">FP29</span>	
						</p>		
					</div>
				</div>	
				<div class="pants_3">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">SHELBY SLAX</span>
							<span class="description">Low rise, skinny pants</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">FP30</span>	
						</p>		
					</div>
				</div>	
				<div class="pants_4">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">PIPER SLAX</span>
							<span class="description">Regular rise, straight leg pants</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">FP31</span>	
						</p>		
					</div>
				</div>	
				<div class="pants_5">
					<div>
						<p class="more-info">
							<span class="type">Relaxed</span>													
							<span class="name">HELGA SLAX</span>
							<span class="description">Fitted, Long Slim Leg Classic Pants</span>
							<span class="sizes">Sizes 30 - 54</span>
							<span class="code">FP24</span>	
						</p>		
					</div>
				</div>																		
			</div>		
		</div>

		<div class="slide" data-anchor="skirts">
			<div class="skirts sg_browse">		
				<div class="skirts_1">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">JOANN SKIRT</span>
							<span class="description">Above the knee, Inset pockets.</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">FS27</span>	
						</p>		
					</div>
				</div>
				<div class="skirts_2">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">SHELLEY SKIRT</span>
							<span class="description">Knee length, Mock jet pockets</span>
							<span class="sizes">Sizes 26 - 54</span>
							<span class="code">FS28</span>	
						</p>		
					</div>
				</div>
				<div class="skirts_3">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">SUZIE SKIRT</span>
							<span class="description">70cm Pencil skirt, Mock jet pockets.</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">FS29</span>	
						</p>		
					</div>
				</div>
				<div class="skirts_4">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">LINDY SKIRT</span>
							<span class="description">80cm Pencil skirt, Mock jet pockets</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">FS30</span>	
						</p>		
					</div>
				</div>
				<div class="skirts_5">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">WENDY SKIRT</span>
							<span class="description">Soft flair skirt.</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">SS25</span>	
						</p>		
					</div>
				</div>																
			</div>
		</div>

		<div class="slide" data-anchor="warmers">
			<div class="warmers sg_browse">		
				<div class="warmers_1">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">EMILY BLOUSE</span>
							<span class="description">Classic Long Sleeve, V-neck Hip Length BLOUSE</span>
							<span class="sizes">Sizes XS - XXL</span>
							<span class="code">LJ14</span>	
						</p>		
					</div>
				</div>
				<div class="warmers_2">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">ALYSSA BLOUSE</span>
							<span class="description">Long raglan sleeve with buttons</span>
							<span class="sizes">Sizes XS - XXL</span>
							<span class="code">LJ13</span>	
						</p>		
					</div>
				</div>
				<div class="warmers_3">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">STELLA COAT</span>
							<span class="description">L/S Medium-length Coat with flaps. Lined.</span>
							<span class="sizes">Sizes S - XXL</span>
							<span class="code">CE15</span>	
						</p>		
					</div>
				</div>
				<div class="warmers_4">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">LYNN COAT</span>
							<span class="description">Classic Coat with pockets. Lined.</span>
							<span class="sizes">Sizes S - XXL</span>
							<span class="code">FS27</span>	
						</p>		
					</div>
				</div>												
			</div>			
		</div>

		<div class="slide" data-anchor="blouses">
			<div class="blouses sg_browse">		
				<div class="blouses_1">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CLEO BLOUSE</span>
							<span class="description">Short Sleeve Blouse, Contrast Detail, String Bow</span>
							<span class="sizes">Sizes 26 - 44</span>
							<span class="code">BB167</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_2">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">SIENNA BLOUSE</span>
							<span class="description">3/4 Sleeve, Contrast, Piping Detail</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">BB172</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_3">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">GISELE BLOUSE</span>
							<span class="description">Sleeveless Blouse, Pleat Neck Detail</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">BB169</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_4">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">ELENA BLOUSE</span>
							<span class="description">Sleeveless Blouse, Placket and Collar Detail</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">BB168</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_5">
					<div>
						<p class="more-info">
							<span class="type">Relaxed</span>													
							<span class="name">BROGAN BLOUSE</span>
							<span class="description">Long Sleeve, Cropped Boxy Shape, Round Neck</span>
							<span class="sizes">Sizes 28 - 44</span>
							<span class="code">BB166</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_6">
					<div>
						<p class="more-info">
							<span class="type">Relaxed</span>													
							<span class="name">MISHA BLOUSE</span>
							<span class="description">Long Sleeve Draped, Front Blouse</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">BB170</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_7">
					<div>
						<p class="more-info">
							<span class="type">Relaxed</span>													
							<span class="name">SABRINA  BLOUSE</span>
							<span class="description">Adjustable, Long Sleeve, Zip Front, Pockets</span>
							<span class="sizes">Sizes 26 - 44</span>
							<span class="code">BB171</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_8">
					<div>
						<p class="more-info">
							<span class="type">Relaxed</span>													
							<span class="name">FAITH  BLOUSE</span>
							<span class="description">Long Sleeve Boxy, Yoke Detail Blouse</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">BB174</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_9">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CARLY BLOUSE</span>
							<span class="description">Camisole with front pleats</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">BB94</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_10">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">ZOLA BLOUSE</span>
							<span class="description">Fashion collar, sleeveless blouse, longer back</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">BB143</span>	
						</p>		
					</div>
				</div>		
				<div class="blouses_11">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">ZODWA BLOUSE</span>
							<span class="description">Cap sleeve blouse, Mandarin collar, concealed front</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">LJ14</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_12">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">AMELIA BLOUSE</span>
							<span class="description">Short sleeve blouse, shawl collar, pleat detail</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">BB145</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_13">
					<div>
						<p class="more-info">
							<span class="type">Relaxed</span>													
							<span class="name">EVELYN BLOUSE</span>
							<span class="description">2 Pockets, longer back, adjustable sleeve</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">BB142</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_14">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CHELSEA BLOUSE</span>
							<span class="description">Short sleeve blouse, one sided tie collar</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">BB149</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_15">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">COLLEEN BLOUSE</span>
							<span class="description">Cap sleeve, removable neck tie</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">BB93</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_16">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">CARMEN BLOUSE</span>
							<span class="description">3/4 sleeve blouse, fashionable bow collar</span>
							<span class="sizes">Sizes 26 - 48</span>
							<span class="code">BB144</span>
						</p>		
					</div>
				</div>
				<div class="blouses_17">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">BRENDA BLOUSE</span>
							<span class="description">Basic short sleeve blouse, sleeve detail</span>
							<span class="sizes">Sizes 26 - 54</span>
							<span class="code">BB148</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_18">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">BAILEY BLOUSE</span>
							<span class="description">Basic long sleeve blouse</span>
							<span class="sizes">Sizes 26 - 54</span>
							<span class="code">BB147</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_19">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">BENITA BLOUSE</span>
							<span class="description">Short sleeve blouse, concealed buttonstand, pintuck detail</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">BB139</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_20">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">BRITNEY BLOUSE</span>
							<span class="description">Long sleeve blouse, concealed buttonstand, pintuck detail</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">BB154</span>	
						</p>		
					</div>
				</div>
				<div class="blouses_21">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">BROOK BLOUSE</span>
							<span class="description">3/4 sleeve blouse, fashionable round collar</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">BB140</span>	
						</p>		
					</div>
				</div>																																														
			</div>			
		</div>

		<div class="slide" data-anchor="scarfs">
			<div class="scarfs sg_browse">		
				<div class="scarfs_1">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">KNECK SCARF</span>
							<span class="description">One size fits all</span>
							<span class="sizes">Sizes S - XXL</span>
							<span class="code">E02N</span>	
						</p>		
					</div>
				</div>
			</div>
		</div>

		<div class="slide" data-anchor="shirts">
			<div class="shirts sg_browse">		
				<div class="shirts_1">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">MPHO SHIRT</span>
							<span class="description">Long sleeve smart ladies shirt</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">BB157</span>	
						</p>		
					</div>
				</div>
				<div class="shirts_2">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">HALEY SHIRT</span>
							<span class="description">Basic 3/4 sleeve shirt</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">BB161</span>	
						</p>		
					</div>
				</div>
				<div class="shirts_3">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">HARPER SHIRT</span>
							<span class="description">Our basic short sleeve shirt</span>
							<span class="sizes">Sizes 28 - 54</span>
							<span class="code">BB160</span>	
						</p>		
					</div>
				</div>								
			</div>			
		</div>

		<div class="slide" data-anchor="man-cave">
			<div class="man-cave sg_browse">		
				<div class="man-cave_1">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">BOB JACKET</span>
							<span class="description">Regular fit blazer, Lined</span>
							<span class="sizes">Sizes 34 - 54</span>
							<span class="code">MJ02</span>	
						</p>		
					</div>
				</div>
				<div class="man-cave_2">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">JIM JACKET</span>
							<span class="description">Slim fit blazer, Lined</span>
							<span class="sizes">Sizes 34 - 48</span>
							<span class="code">MJ04</span>	
						</p>		
					</div>
				</div>		
				<div class="man-cave_3">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">RONNIE PULLOVER</span>
							<span class="description">Sleeveless, V-neck, Comfy fit</span>
							<span class="sizes">Sizes S - XXL</span>
							<span class="code">MC09</span>	
						</p>		
					</div>
				</div>								
				<div class="man-cave_4">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">PETER COAT</span>
							<span class="description">Long sleeve classic, double-breasted pea coat, Lined</span>
							<span class="sizes">Sizes XS - XXL</span>
							<span class="code">MJ166</span>	
						</p>		
					</div>
				</div>			
				<div class="man-cave_5">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">ADAM JERSEY</span>
							<span class="description">Long Sleeve V-neck, Comfy-fit, 50% Merino / 50% Acrylic</span>
							<span class="sizes">Sizes XS - XXL</span>
							<span class="code">MC11</span>	
						</p>		
					</div>
				</div>				
				<div class="man-cave_6">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">DEAN SHIRT</span>
							<span class="description">Long sleeve slim fit mens shirt</span>
							<span class="sizes">Sizes XS - 3XL</span>
							<span class="code">MS12</span>	
						</p>		
					</div>
				</div>			
				<div class="man-cave_7">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">DAN SHIRT</span>
							<span class="description">Short sleeve slim fit mens shirt</span>
							<span class="sizes">Sizes XS - 3XL</span>
							<span class="code">MS11</span>	
						</p>		
					</div>
				</div>			
				<div class="man-cave_8">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">STUART SHIRT</span>
							<span class="description">Long sleeve regular fit mens shirt</span>
							<span class="sizes">Sizes XS - 4XL</span>
							<span class="code">MS13</span>	
						</p>		
					</div>
				</div>	
				<div class="man-cave_9">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">SCOTT SHIRT</span>
							<span class="description">Short sleeve regular fit mens shirt</span>
							<span class="sizes">Sizes XS - 4XL</span>
							<span class="code">MS14</span>	
						</p>		
					</div>
				</div>		

				<div class="man-cave_10">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">MARK PANTS</span>
							<span class="description">Mens pants with pleats</span>
							<span class="sizes">Sizes 28 - 48L</span>
							<span class="code">MP02</span>	
						</p>		
					</div>
				</div>
				<div class="man-cave_11">
					<div>
						<p class="more-info">
							<span class="type">Classic</span>													
							<span class="name">PAUL PANTS</span>
							<span class="description">Regular fit mens pants with flat front</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">MP03</span>	
						</p>		
					</div>
				</div>
				<div class="man-cave_12">
					<div>
						<p class="more-info">
							<span class="type">Fitted</span>													
							<span class="name">JAKE PANTS</span>
							<span class="description">Slim fit mens pants with flat front</span>
							<span class="sizes">Sizes 28 - 48</span>
							<span class="code">MP04</span>	
						</p>		
					</div>
				</div>																							
			</div>
		</div>

		<div class="style-guide-nav">

			<div class="sg-scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>

			<div class="sg-frame">

				<ul class="slidee">

					<li>
						<a href="#style-guide/dresses">
							<div class="team-title">{{ styleGuideWoman[2].name}}</div>
						</a>
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[0].anchor">
							<div class="team-title">{{ styleGuideWoman[0].name}}</div>
						</a>
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[1].anchor">
							<div class="team-title">{{ styleGuideWoman[1].name}}</div>
						</a>					
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[3].anchor">
							<div class="team-title">{{ styleGuideWoman[3].name}}</div>
						</a>					
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[4].anchor">
							<div class="team-title">{{ styleGuideWoman[4].name}}</div>
						</a>					
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[5].anchor">
							<div class="team-title">{{ styleGuideWoman[5].name}}</div>
						</a>					
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[6].anchor">
							<div class="team-title">{{ styleGuideWoman[6].name}}</div>
						</a>					
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[7].anchor">
							<div class="team-title">{{ styleGuideWoman[7].name}}</div>
						</a>					
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[8].anchor">
							<div class="team-title">{{ styleGuideWoman[8].name}}</div>
						</a>					
					</li>

					<li>
						<a :href="`#style-guide/` + styleGuideWoman[9].anchor">
							<div class="team-title">{{ styleGuideWoman[9].name}}</div>
						</a>					
					</li>																	

				</ul>

			</div>

		</div>

	</div>

</template>

<script>

	export default {
	    data() {
	        return {
	        	skirts : [2153, 2162, 2163, 2164, 2165],
	        	styleGuideWoman:  [
	        	{
	        		"name" 		: "jackets",
	        		"anchor" 	: "jackets"	
	        	},
	        	{
	        		"name" 		: "tops",
	        		"anchor"	: "tops"
	        	},
	        	{
	        		"name" 		: "dresses",
	        		"anchor"	: "dresses",
	        		"more"		: [
	        							{
	        							"type"				: "Classic",
	        							"name"				: "REBECCA DRESS", 
	        							"description"	: "Shift dress with pleated bodice", 
	        							"sizes"				: "Sizes 28 - 44", 
	        							"code"				: "FD16"
	        							}
	        		]
	        	},
	        	{
	        		"name" 		: "pants",
	        		"anchor"	: "pants"      		
	        	},
	        	{
	        		"name" 		: "skirts",
	        		"anchor"	: "skirts",
	        		"more"		: [
	        							{
	        							"type"				: "type_",
	        							"name"				: "name_", 
	        							"description"	: "description_", 
	        							"sizes"				: "size_", 
	        							"code"				: "code_"
	        							}
	        		]	  	        		
	        	},
	        	{
	        		"name" 		: "warmers",
	        		"anchor"	: "warmers"
	        	},
	        	{
	        		"name" 		: "blouses",
	        		"anchor"	: "blouses"
	        	},
	        	{
	        		"name" 		: "scarfs",
	        		"anchor"	: "scarfs"
	        	},
	        	{
	        		"name" 		: "shirts",
	        		"anchor"	: "shirts"   		
	        	},
	        	{
	        		"name" 		: "man cave",
	        		"anchor"	: "man-cave"
	        	}
	        	]
	        }
	    }
	}
	
</script>

<style lang="scss" scoped>

  $path: 'https://www.imagemakers.co.za/wp-content/uploads/2017/';

	.active .loadImage {

		div[class*="_"] {	animation: softly 1s; } 

   .jackets_1 {background-image:url('#{$path}08/m-kiera-748x884.jpg');}
	 .jackets_2 {background-image:url('#{$path}08/m-mariet-748x884.jpg');}	
	 .jackets_3 {background-image:url('#{$path}08/m-tori-748x884.jpg');}	
	 .jackets_4 {background-image:url('#{$path}01/m-vivien-748x884.jpg');}
 	 .jackets_5 {background-image:url('#{$path}08/m-manilla-748x884.jpg');}
	 .jackets_6 {background-image:url('#{$path}01/m-marie-748x884.jpg');}		
	 .jackets_7 {background-image:url('#{$path}01/m-jordan-748x884.jpg');}
	 .jackets_8 {background-image:url('#{$path}01/m-nikita-748x884.jpg');}
	 .jackets_9 {background-image:url('#{$path}01/m-celia-748x884.jpg');}	
	 .jackets_10 {background-image:url('#{$path}01/m-celine-748x884.jpg');}

	 .tops_1 {background-image: url(#{$path}01/m-maggy-748x884.jpg);}
	 .tops_2 {background-image: url(#{$path}01/m-morgan-748x884.jpg);}
	 .tops_3 {background-image: url(#{$path}08/K-lola-748x884.jpg);}
	 .tops_4 {background-image: url(#{$path}08/k-liezel-748x884.jpg);}

	 .dresses_1 {background-image: url(#{$path}01/m-romy-748x884.jpg);}
	 .dresses_2 {background-image: url(#{$path}01/m-rachel-748x884.jpg);}
	 .dresses_3 {background-image: url(#{$path}01/m-rebecca-748x884.jpg);}
	 .dresses_4 {background-image: url(#{$path}08/m-gia-748x884.jpg);}
	 .dresses_5 {background-image: url(#{$path}08/m-ciara-748x8841.jpg);}
	 .dresses_6 {background-image: url(#{$path}08/m-claudia-748x884.jpg);}
	 .dresses_7 {background-image: url(#{$path}08/k-jasmine-748x884.jpg);}

	 .pants_1 { background-image: url('#{$path}01/m-christine-748x884.jpg');}
	 .pants_2 { background-image: url('#{$path}01/m-paris-748x884.jpg');}
	 .pants_3 { background-image: url('#{$path}01/m-shelby-748x884.jpg');}
	 .pants_4 { background-image: url('#{$path}01/m-piper-748x884.jpg');}
	 .pants_5 { background-image: url('#{$path}01/m-helga-748x884.jpg');}	

	 .skirts_1 { background-image: url('#{$path}01/m-joann-748x884.jpg');}
	 .skirts_2 { background-image: url('#{$path}01/m-shelley-748x884.jpg');}
	 .skirts_3 { background-image: url('#{$path}01/m-suzie-748x884.jpg');}
	 .skirts_4 { background-image: url('#{$path}01/m-joann-748x884.jpg');}
	 .skirts_5 { background-image: url('#{$path}01/m-wendy-748x884.jpg');}

	 .warmers_1 { background-image: url('#{$path}02/m-emily-748x884.jpg');}
	 .warmers_2 { background-image: url('#{$path}01/m-alyssa-748x884.jpg');}
	 .warmers_3 { background-image: url('#{$path}02/m-stella-748x884.jpg');}
	 .warmers_4 { background-image: url('#{$path}01/m-lynn-748x884.jpg');}

	 .blouses_1 { background-image: url('#{$path}08/m-cleo-748x884.jpg');}
	 .blouses_2 { background-image: url('#{$path}08/m-sienna-748x884.jpg');}
	 .blouses_3 { background-image: url('#{$path}08/m-gisele-748x884.jpg');}
	 .blouses_4 { background-image: url('#{$path}08/m-elena-748x884.jpg');}
	 .blouses_5 { background-image: url('#{$path}08/m-brogan-748x884.jpg');}
	 .blouses_6 { background-image: url('#{$path}08/m-misha-748x884.jpg');}
	 .blouses_7 { background-image: url('#{$path}08/m-sabrina-748x884.jpg');}
	 .blouses_8 { background-image: url('#{$path}/08/m-faith-748x884.jpg');}
	 .blouses_9 { background-image: url('#{$path}01/m-carly-748x884.jpg');}
	 .blouses_10 { background-image: url('#{$path}01/m-zola-748x884.jpg');}
	 .blouses_11 { background-image: url('#{$path}01/m-zodwa-748x884.jpg');}
	 .blouses_12 { background-image: url('#{$path}01/m-amelia-748x884.jpg');}
	 .blouses_13 { background-image: url('#{$path}01/m-evelyn-748x884.jpg');}
	 .blouses_14 { background-image: url('#{$path}01/m-chelsea-748x884.jpg');}
	 .blouses_15 { background-image: url('#{$path}01/m-colleen-748x884.jpg');}
	 .blouses_16 { background-image: url('#{$path}01/m-carmen-748x884.jpg');}
	 .blouses_17 { background-image: url('#{$path}01/m-brenda-748x884.jpg');}
	 .blouses_18 { background-image: url('#{$path}01/m-bailey-748x884.jpg');}
	 .blouses_19 { background-image: url('#{$path}01/m-benita-748x884.jpg');}
	 .blouses_20 { background-image: url('#{$path}01/m-britney-748x884.jpg');}	 	 	 
	 .blouses_21 { background-image: url('#{$path}01/m-brook-748x884.jpg');}

	 .scarfs_1 { background-image: url('#{$path}01/m-neckscarf-748x884.jpg');}

	 .shirts_1 { background-image: url('#{$path}01/m-mpho-748x884.jpg');}
	 .shirts_2 { background-image: url('#{$path}01/m-haley-748x884.jpg');}
	 .shirts_3 { background-image: url('#{$path}01/m-harper-748x884.jpg');}

	 .man-cave_1 { background-image: url('#{$path}01/m-bob-748x884.jpg');}
	 .man-cave_2 { background-image: url('#{$path}01/m-jim-748x884.jpg');}
	 .man-cave_3 { background-image: url('#{$path}01/m-ronnie-748x884.jpg');}
	 .man-cave_4 { background-image: url('#{$path}02/m-peter-748x884.jpg');}
	 .man-cave_5 { background-image: url('#{$path}08/m-adam-748x884.jpg');}
	 .man-cave_6 { background-image: url('#{$path}01/m-dean-748x884.jpg');}
	 .man-cave_7 { background-image: url('#{$path}01/m-dan-748x884.jpg');}
	 .man-cave_8 { background-image: url('#{$path}01/m-stuart-748x884.jpg');}
	 .man-cave_9 { background-image: url('#{$path}01/m-scott-748x884.jpg');}
	 .man-cave_10 { background-image: url('#{$path}01/m-mark-748x884.jpg');}
	 .man-cave_11 { background-image: url('#{$path}01/m-paul-748x884.jpg');}
	 .man-cave_12 { background-image: url('#{$path}01/m-jake-748x884.jpg');}

	}	 

	.sg { 

			height: calc(100vh - 73px); 
			font-family: DIN-Medium, arial, sans-serif			

	}

	/* slick */
	.sg_browse {

		height: calc(100vh - 105px);

		.more-info { 

			position: absolute; bottom: 100px; background-color: transparent; opacity: 0.8; padding: 0px 10px 10px 0px;

			span { display: flex }
			.type { background-color: black; color: white; text-transform: uppercase; display: inline-block; padding: 5px 5px 5px 10px }
			.code { font-size: 14px; visibility: hidden; padding: 0 0 0 10px }
			.name { font-size: 18px;; padding: 0 0 0 10px }
			.description { font-family: Lato-Regular; font-size: 14px; visibility: hidden; padding: 0 0 0 10px; font-weight: lighter }
			.sizes { text-transform: uppercase; visibility: hidden; padding: 0 0 0 10px }

		}

		div div p { font-size: 12px }
		div { width: calc(768px - 0px); margin: 37px 0px 0 0; height: calc(100vh - 110px); background-size: cover; background-repeat: no-repeat; background-position: center top }	
		div:focus { outline: 0 none }

	}

	/* sly */
	.style-guide-nav { 
		
		margin: 0 auto;

		.sg-frame { 

			margin: 0 auto; width: 100%; height: 35px; overflow: hidden; text-shadow: none; position: absolute; top: 74px; z-index: 9; 

			ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px }
			ul li { float: left; width: auto; height: 100%; margin: 0 1px 0 0; padding: 0; /*background: #eee; */color: #ccc; text-align: center; cursor: pointer; opacity: 0.96 }
			.team-title { text-align: center;  }
			ul li.active {  /*background: #777*/ }
			ul li .team-title { font-size:12px;  }
			ul li.active .team-title { /*background-color: #ccc;*/ color: orange !important; transition: all .2s ease; }
			.box { width: 190px; height: 10px; float: left }
			.categorySliderNav { width: 100px }

		}

		.sg-scrollbar { 

			margin: 0 auto 30px; width: 100%; height: 5px; line-height: 0; position: absolute; bottom: 50px; z-index: 9; display: none; 

			.handle { width: 100px; height: 100%; background: #ccc; cursor: pointer }
			.handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px }

		}

		.team-title {	width: auto; /*background: linear-gradient(#eeeeee, #d6d3d3) !important;*/ color: #555; text-transform: uppercase; text-align: center; padding: 12px 20px; font-size: 12px; height: calc(35px - 24px); }

		.sg_landing { font-size: 12px; line-height: 14px; text-transform: uppercase; color: black; text-align: center; width: 100px; color: #0e0e0e; background-color: #bdc3c7; margin: 0px; padding: 11px 0px;	} 		
	}

	/* seo */ 
	.mask { 

		background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2017/01/c-79-1210x1612-769x1024.jpg);
		background-repeat: repeat;
		background-position: center;
		background-size: contain;

		background-color: black; width: calc(100% - 60px); opacity: 1; height: calc(100vh - 170px); padding: 30px;     
    margin: 37px 0 0 0;


		div h1 { color: white; text-transform: uppercase; font-size: 4em; text-shadow: 2px 4px 3px rgba(0,0,0,0.3) }
		div p { color: white; font-size: 1.8em; text-shadow: 2px 4px 3px rgba(0,0,0,0.3) }
		div { background: none; background: transparent; width: calc(100%); display: flex; flex-direction: column; justify-content: flex-end; height: calc(100vh - 270px) }

	}

	/* move to @/media-queries.css post QA */
	@media screen and (min-width: 1000px) {
		.landing div p { width: calc(800px - 60px) !important; max-width: calc(800px - 60px) !important }    
	}

	@media screen and (max-width: 780px) {
		.sg .slide img { width: 100% }
	}

	@media screen and (max-width: 400px) {
		.landing div h1 { font-size: 3em !important	}
		.landing div p { font-size: 1.5em !important }
	}

	@media screen and (max-width: 600px) {
		.style-guide-nav .team-title {	width: auto }
		.style-guide-nav .sg-frame ul li { float: left; width: auto }
	}

</style>

<style>

	.fp-viewing-style-guide-style-guide .sg .fp-controlArrow.fp-prev,
	.fp-viewing-style-guide-style-guide .sg .fp-controlArrow.fp-prev:before {
	  display: none !important;
	}		

	.fp-viewing-style-guide-style-guide .sg .fp-controlArrow.fp-next,
	.fp-viewing-style-guide-style-guide .sg .fp-controlArrow.fp-next:before {
	  display: block !important;
    right: 13px;
    width: 55px;
    padding: 0 0px 10px 5px;
    border-radius: 5px;
    background-color: white !important;
    height: 58px;
    bottom: 12px;
    opacity: 1;	  	  
	}					

	.sg .fp-controlArrow.fp-prev,
	.sg .fp-controlArrow.fp-prev:before,
	.sg .fp-controlArrow.fp-next,
	.sg .fp-controlArrow.fp-next:before {
		display: none !important;
	}					

</style>