<template>

	<div class="tl">
		
		<div class="slide landing" data-anchor="team-look">

			<div class="mask">
				<div>
					<h1>Team Looks</h1>
					<p>Set your company apart from the competition with co&dash;ordinated team looks</p>						
				</div>				
			</div>

		</div>

		<div class="slide pretty-polished" data-anchor="pretty-polished">
			
			<div class="lookOverview"><p>Its time to get pretty professional with dusty pink, a delicate Polka and smouldering Greys. Our new Pewter suiting is hard-wearing, but soft to the touch and made to be worn. <a href="#" onclick="$('.pretty-polished .lookOverview').fadeOut(100); $('.tl1').show(600); $('.pretty-polished .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl1 tl_browse">

				<div class="tl1_1">
					<div>
						<p class="more-info">							
							<span class="description">Brook Blouse, Christine Slax, Rebecca Dress</span>
							</p>		
					</div>
				</div>

				<div class="tl1_2">
					<div>
						<p class="more-info">
							<span class="description">Manilla Jacket, Elena Blouse, Christine Slax, Harper Shirt, Shelly Skirt, Sabrina Blouse, Helga Slax</span>
						</p>
					</div>
				</div>

				<div class="tl1_3">
					<div>
						<p class="more-info">
							<span class="description">Manilla Jacket, Elena Blouse, Christine Slax, Harper Shirt, Shelly Skirt, Sabrina Blouse, Helga Slax</span>
						</p>		
					</div>
				</div>

				<div class="tl1_4">
					<div>
						<p class="more-info">
							<span class="description">Manilla Jacket, Elena Blouse, Christine Slax, Harper Shirt, Shelly Skirt, Sabrina Blouse, Helga Slax</span>
						</p>		
					</div>
				</div>

				<div class="tl1_5">
					<div>
						<p class="more-info">
							<span class="description">Manilla Jacket, Elena Blouse, Christine Slax, Harper Shirt, Shelly Skirt, Sabrina Blouse, Helga Slax</span>
						</p>		
					</div>
				</div>

				<div class="tl1_6">
					<div>
						<p class="more-info">
							<span class="description">Manilla Jacket, Elena Blouse, Christine Slax, Harper Shirt, Shelly Skirt, Sabrina Blouse, Helga Slax</span>
						</p>		
					</div>
				</div>

				<div class="tl1_7">
					<div>
						<p class="more-info">
							<span class="description">Manilla Jacket, Elena Blouse, Christine Slax, Harper Shirt, Shelly Skirt, Sabrina Blouse, Helga Slax</span>
						</p>		
					</div>
				</div>			

			</div>			

			<a href="#" onclick="$('.tl1').hide(500); $('.pretty-polished .lookOverview').fadeIn(100);" class="showOverView">...</a>			

		</div>

		<div class="slide modern-geometry" data-anchor="modern-geometry">

			<div class="lookOverview"><p>Black &amp; White – just right! Workwear that works perfectly from day to night. Our new Graphic Pearl polyester print packs a contemporary punch with sharp Liquorice Suiting. <a href="#" onclick="$('.modern-geometry .lookOverview').fadeOut(100); $('.tl2').show(600); $('.modern-geometry .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl2 tl_browse">

				<div class="tl2_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl2_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl2_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl2_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl2_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl2_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl2_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl2_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl2_9">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl2_10">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>																																					

			</div>	

			<a href="#" onclick="$('.tl2').hide(500); $('.modern-geometry .lookOverview').fadeIn(100);" class="showOverView">...</a>			

		</div>

		<div class="slide cream-of-the-crop" data-anchor="cream-of-the-crop">

			<div class="lookOverview"><p>Cream Polka Polyester blouses and Hilton Cotton Rich shirts with Liquorice suiting. The timeless classic combination of Cream and Black. <a href="#" onclick="$('.cream-of-the-crop .lookOverview').fadeOut(100); $('.tl3').show(600); $('.cream-of-the-crop .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>
			
			<div class="tl3 tl_browse">

				<div class="tl3_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl3_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl3_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl3_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl3_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl3_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl3_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl3_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl3_9">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl3_10">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>				

			</div>
			
			
			<a href="#" onclick="$('.tl3').hide(500); $('.cream-of-the-crop .lookOverview').fadeIn(100);" class="showOverView">...</a>

		</div>

		<div class="slide dream-team" data-anchor="dream-team">
			
			<div class="lookOverview"><p>New fashion colours for your 9-to-5. Silver suiting with dreamy Limpet and bold Ashton stripes in Pearl Polyester, or moody Stirling Cotton, are the new statement-makers. <a href="#" onclick="$('.dream-team .lookOverview').fadeOut(100); $('.tl4').show(600); $('.dream-team .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl4 tl_browse">

				<div class="tl4_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl4_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl4_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl4_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl4_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl4_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl4_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl4_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl4_9">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl4_10">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>				

			</div>

			<a href="#" onclick="$('.tl4').hide(500); $('.dream-team .lookOverview').fadeIn(100);" class="showOverView">...</a>			

		</div>

		<div class="slide classic-and-cool" data-anchor="classic-and-cool">
			
			<div class="lookOverview"><p>Command attention in Navy. Small contrasting details make a big visual impact in our range of contrasting garments. Adding a sweet twist to the classic pairing of crisp White and Navy. <a href="#" onclick="$('.classic-and-cool .lookOverview').fadeOut(100); $('.tl5').show(600); $('.classic-and-cool .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl5 tl_browse">

				<div class="tl5_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl5_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl5_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl5_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl5_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl5_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl5_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl5_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

			</div>

			<a href="#" onclick="$('.tl5').hide(500); $('.classic-and-cool .lookOverview').fadeIn(100);" class="showOverView">...</a>	

		</div>

		<div class="slide inner-city-blues" data-anchor="inner-city-blues">

			<div class="lookOverview"><p>These are wardrobe winners you won’t want to miss. Navy suiting with deep Twilight Pearl Polyester blouses and Toronto Cotton Rich shirts. <a href="#" onclick="$('.inner-city-blues .lookOverview').fadeOut(100); $('.tl6').show(600); $('.inner-city-blues .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl6 tl_browse">

				<div class="tl6_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl6_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl6_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl6_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl6_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl6_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>																	
			</div>

			<a href="#" onclick="$('.tl6').hide(500); $('.inner-city-blues .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide leading-line-up" data-anchor="leading-line-up">

			<div class="lookOverview"><p>This is worth lining up for … the Carlton Stripe is a new bold edition to our fabric range. The perfect way to transform the simplest ensemble into a striking one. <a href="#" onclick="$('.leading-line-up .lookOverview').fadeOut(100); $('.tl7').show(600); $('.leading-line-up .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl7 tl_browse">

				<div class="tl7_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl7_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl7_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl7_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl7_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl7_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl7_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl7_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>																													

			</div>

			<a href="#" onclick="$('.tl7').hide(500); $('.leading-line-up .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide urban-jungle" data-anchor="urban-jungle">

			<div class="lookOverview"><p>It's all systems go with deep Emerald and fresh Mint Pearl Polyester blouses. These green hues matched with subtle Silver Suiting create a fresh team look. <a href="#" onclick="$('.urban-jungle .lookOverview').fadeOut(100); $('.tl8').show(600); $('.urban-jungle .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl8 tl_browse">

				<div class="tl8_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl8_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl8_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl8_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl8_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl8_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>																					

			</div>

			<a href="#" onclick="$('.tl8').hide(500); $('.urban-jungle .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide steal-the-spotlight" data-anchor="steal-the-spotlight">

			<div class="lookOverview"><p>It's easy to steal the spotlight with Diamond Black suiting, finished with playful Black and White Polka, brilliant Black Rain and striking Melon Pearl Polyester blouses. Offering flow and contrast, the Oslo cotton striped shirts complement the bold, contemporary look. <a href="#" onclick="$('.steal-the-spotlight .lookOverview').fadeOut(100); $('.tl9').show(600); $('.steal-the-spotlight .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl9 tl_browse">

				<div class="tl9_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl9_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_9">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

				<div class="tl9_10">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>												

			</div>

			<a href="#" onclick="$('.tl9').hide(500); $('.steal-the-spotlight .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide colour-me-crimson" data-anchor="colour-me-crimson">

			<div class="lookOverview"><p>Stride with confidence in beautiful Crimson corporate wear, offset with Diamond Black suiting and White Pearl Polyester blouses. Oslo Stripe Cotton Rich shirts and Granite Black suits for men blend in with ease. <a href="#" onclick="$('.colour-me-crimson .lookOverview').fadeOut(100); $('.tl10').show(600); $('.colour-me-crimson .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl10 tl_browse">

				<div class="tl10_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl10_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl10_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl10_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl10_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl10_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>																		

			</div>

			<a href="#" onclick="$('.tl10').hide(500); $('.colour-me-crimson .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide fifty-ways-with-grey" data-anchor="fifty-ways-with-grey">

			<div class="lookOverview"><p>A grey palette effortlessly sets the tone for urban chic dressing. Top-to-toe grey is a simple nod to modernity while a touch of colour or print gives a trendy twist. Silver suiting with Purple Blaze, India and Soft Lilac Pearl Polyester blouses for the ladies, while the men wear Bali Cotton Rich striped shirts, all adding to the bold, contemporary look. <a href="#" onclick="$('.fifty-ways-with-grey .lookOverview').fadeOut(100); $('.tl11').show(600); $('.fifty-ways-with-grey .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl11 tl_browse">

				<div class="tl11_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl11_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl11_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl11_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl11_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl11_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl11_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl11_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

			</div>

			<a href="#" onclick="$('.tl11').hide(500); $('.fifty-ways-with-grey .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide purple-power" data-anchor="purple-power">

			<div class="lookOverview"><p>Introduce regal purple to any classic 9 – 5 look for instant colour confidence. Diamond Black suiting pairs well with Soft Lilac, Purple Blaze and India Print Pearl Polyester blouses. But why stop there? Continue with a purple palette by adding Bali Stripe and Quartz Cotton Rich shirts. <a href="#" onclick="$('.purple-power .lookOverview').fadeOut(100); $('.tl12').show(600); $('.purple-power .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl12 tl_browse">

				<div class="tl12_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl12_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl12_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl12_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl12_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl12_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl12_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl12_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>						

				<div class="tl12_9">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl12_10">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		
												
			</div>

			<a href="#" onclick="$('.tl12').hide(500); $('.purple-power .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide neutral-by-nature" data-anchor="neutral-by-nature">

			<div class="lookOverview"><p>The shift silhouette in organic shades channels grownup femininity with ease. Find this desirable womenswear shape in Taupe Luxury Polyester, Liquorice Black suiting, Africa Print Pearl Polyester, Champagne, Blush and Cream Pearl Polyester. <a href="#" onclick="$('.neutral-by-nature .lookOverview').fadeOut(100); $('.tl13').show(600); $('.neutral-by-nature .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl13 tl_browse">

				<div class="tl13_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl13_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl13_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		
			
				<div class="tl13_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl13_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		
				
				<div class="tl13_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

			</div>

			<a href="#" onclick="$('.tl13').hide(500); $('.neutral-by-nature .lookOverview').fadeIn(100);" class="showOverView">...</a>	

		</div>

		<div class="slide black-and-bright" data-anchor="black-and-bright">

			<div class="lookOverview"><p>Rely on the flawless combination of black, white and bright red for sophisticated success. The Diamond Black suiting, Spain Cotton Rich shirts and blouses in Confetti Print and Pearl White Pearl Polyester bring this look to life. <a href="#" onclick="$('.black-and-bright .lookOverview').fadeOut(100); $('.tl14').show(600); $('.black-and-bright .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl14 tl_browse">

				<div class="tl14_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl14_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl14_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl14_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>																	

				<div class="tl14_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl14_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl14_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl14_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl14_9">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl14_10">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>							

			</div>

			<a href="#" onclick="$('.tl14').hide(500); $('.black-and-bright .lookOverview').fadeIn(100);" class="showOverView">...</a>	

		</div>	

		<div class="slide sleek-in-silver" data-anchor="sleek-in-silver">
			
			<div class="lookOverview"><p>Silver Luxury Polyester suiting for men and women brings about the urban edge in this story. Add the Denver Stripe or Topaz Cotton Rich shirts to complete the menswear look, while ladies wear rely on True Blue and Sapphire blouses for a pop of colour. <a href="#" onclick="$('.sleek-in-silver .lookOverview').fadeOut(100); $('.tl15').show(600); $('.sleek-in-silver .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl15 tl_browse">

				<div class="tl15_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl15_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl15_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl15_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl15_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl15_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl15_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>		

				<div class="tl15_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

			</div>

			<a href="#" onclick="$('.tl15').hide(500); $('.sleek-in-silver .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide the-power-suit" data-anchor="the-power-suit">

			<div class="lookOverview"><p>Blue Pinstripe suiting with Fiji stripe Cotton Rich shirts and Turquoise, Sapphire and Pearl White Pearl Polyester blouses. <a href="#" onclick="$('.the-power-suit .lookOverview').fadeOut(100); $('.tl16').show(600); $('.the-power-suit .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl16 tl_browse">

				<div class="tl16_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>						

				<div class="tl16_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl16_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl16_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl16_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl16_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl16_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl16_8">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>	

				<div class="tl16_9">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>																					

				<div class="tl16_10">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>

			</div>

			<a href="#" onclick="$('.tl16').hide(500); $('.the-power-suit .lookOverview').fadeIn(100);" class="showOverView">...</a>		

		</div>

		<div class="slide team-players" data-anchor="team-players">

			<div class="lookOverview"><p>Blue Pinstripe suiting with Fiji stripe Cotton Rich shirts and Turquoise, Sapphire and Pearl White Pearl Polyester blouses. <a href="#" onclick="$('.team-players .lookOverview').fadeOut(100); $('.tl17').show(600); $('.team-players .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>
			
			<div class="tl17 tl_browse">

				<div class="tl17_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl17_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl17_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl17_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl17_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl17_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

			</div>

			<a href="#" onclick="$('.tl17').hide(500); $('.team-players .lookOverview').fadeIn(100);" class="showOverView">...</a>

		</div>

		<div class="slide blue-print-for-success" data-anchor="blue-print-for-success">
			
			<div class="lookOverview"><p>Add a splash of cool blue to black suiting with Houston print and Sapphire blouses. Menswear sees Granite Black suiting combine with Classic Check and Topaz Cotton Rich shirts. <a href="#" onclick="$('.blue-print-for-success .lookOverview').fadeOut(100); $('.tl18').show(600); $('.blue-print-for-success .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl18 tl_browse">

				<div class="tl18_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl18_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl18_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl18_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl18_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl18_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

			</div>

			<a href="#" onclick="$('.tl18').hide(500); $('.blue-print-for-success .lookOverview').fadeIn(100);" class="showOverView">...</a>

		</div>

		<div class="slide office-winners" data-anchor="office-winners">
			
			<div class="lookOverview"><p>Pair navy suiting with a mix of blue hues. Topaz Cotton Rich shirts and Atlanta Pearl Polyester blouses worn with Greek Navy suiting offer the best, timeless working wardrobe solution. <a href="#" onclick="$('.office-winners .lookOverview').fadeOut(100); $('.tl19').show(600); $('.office-winners .showOverView').show();" class="showDetailedView">browse&nbsp;this&nbsp;look</a> </p>
			</div>

			<div class="tl19 tl_browse">

				<div class="tl19_1">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl19_2">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl19_3">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl19_4">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl19_5">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl19_6">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

				<div class="tl19_7">
					<div>
						<p class="more-info">							
							<span class="description"></span>
							</p>		
					</div>
				</div>			

			</div>

			<a href="#" onclick="$('.tl19').hide(500); $('.office-winners .lookOverview').fadeIn(100);" class="showOverView">...</a>

		</div>	

		<div class="team-look-nav">

			<div class="tl-scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>

			<div class="tl-frame">


				<ul class="slidee">

					<li>
						<a href="#team-looks/pretty-polished">
							<div class="team-title">{{ teamLooks[6].name}}</div>							
						</a>					
					</li>

					<li>
						<a href="#team-looks/modern-geometry">
							<div class="team-title">{{ teamLooks[7].name}}</div>							
						</a>					
					</li>					

					<li>
						<a href="#team-looks/cream-of-the-crop">
							<div class="team-title">{{ teamLooks[0].name}}</div>
						</a>
					</li>

					<li>
						<a href="#team-looks/dream-team">
							<div class="team-title">{{ teamLooks[1].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#team-looks/classic-and-cool">
							<div class="team-title">{{ teamLooks[2].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#team-looks/inner-city-blues">
							<div class="team-title">{{ teamLooks[3].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#team-looks/leading-line-up">
							<div class="team-title">{{ teamLooks[4].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#team-looks/urban-jungle">
							<div class="team-title">{{ teamLooks[5].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#team-looks/steal-the-spotlight">
							<div class="team-title">{{ teamLooks[8].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#team-looks/colour-me-crimson">
							<div class="team-title">{{ teamLooks[9].name}}</div>
						</a>					
					</li>

					<li>
						<a href="#team-looks/fifty-ways-with-grey">
							<div class="team-title">{{ teamLooks[10].name}}</div>
						</a>					
					</li>				

					<li>
						<a href="#team-looks/purple-power">
							<div class="team-title">{{ teamLooks[11].name}}</div>
						</a>					
					</li>	

					<li>
						<a href="#team-looks/neutral-by-nature">
							<div class="team-title">{{ teamLooks[12].name}}</div>
						</a>					
					</li>	

					<li>
						<a href="#team-looks/black-and-bright">
							<div class="team-title">{{ teamLooks[13].name}}</div>
						</a>					
					</li>					

					<li>
						<a href="#team-looks/sleek-in-silver">
							<div class="team-title">{{ teamLooks[14].name}}</div>
						</a>					
					</li>		

					<li>
						<a href="#team-looks/the-power-suit">

							<div class="team-title">{{ teamLooks[15].name}}</div>
						</a>										
					</li>	

					<li>
						<a href="#team-looks/team-players">
							<div class="team-title">{{ teamLooks[16].name}}</div>
						</a>						
					</li>

					<li>
						<a href="#team-looks/blue-print-for-success">
							<div class="team-title">{{ teamLooks[17].name}}</div>
						</a>
					</li>

					<li>
						<a href="#team-looks/office-winners">
							<div class="team-title">{{ teamLooks[18].name}}</div>
						</a>
					</li>		

				</ul>


			</div>

		</div>

	</div>
</template>

<script>
	export default {
	    data() {
	        return {
	        	teamLooks:  [
	        	{
	        		"name" : "cream of the crop"
	        	},
	        	{
	        		"name" : "dream team"
	        	},
	        	{
	        		"name" : "classic & cool"
	        	},
	        	{
	        		"name" : "inner city blues"
	        	},
	        	{
	        		"name" : "leading line-up"
	        	},
	        	{
	        		"name" : "urban jungle"
	        	},
	        	{
	        		"name" : "pretty polished"
	        	},
	        	{
	        		"name" : "modern geometry"
	        	},
	        	{
	        		"name" : "steal the spotlight"
	        	},
	        	{
	        		"name" : "colour me crimson"
	        	},
	        	{
	        		"name" : "50 ways with grey"
	        	},
	        	{
	        		"name" : "purple power"
	        	},
	        	{
	        		"name" : "neutral by nature"
	        	},
	        	{
	        		"name" : "black & bright"
	        	},
	       		{
	        		"name" : "sleek in silver"
	        	},        	
	         	{
	        		"name" : "the power suit"
	        	},        	
	        	{
	        		"name" : "team players"
	        	},
	        	{
	        		"name" : "blueprints"
	        	},
	        	{
	        		"name" : "office winners"
	        	}
	        	]
	        }
	    }
	}
	
  $(function() {
  		// check if background images are loaded, then show controls see https://jsfiddle.net/tovic/gmzSG/ & https://gist.github.com/juliancwirko/bd57a70e869a80aceb82
	});	

</script>

<style lang="scss" scoped>

.push {
	margin-left: 50px !important;
}

.lookOverview {     ;
    opacity: 0.9;
    width: 25%;
    -webkit-box-shadow: 1px 2px 4px #c8c8c8;
    box-shadow: 1px 2px 4px #c8c8c8;
    bottom: 0px;
    text-transform: uppercase;

  }

  .lookOverview p {
    font-family: DIN-Medium;
    font-size: 14px;
    color: #9e9e9e;
    position: absolute;
    bottom: 0;
    width: 300px;
    background-color: black;
    padding: 10px;
    margin: 0px;
  }

  .lookOverviewAction {
    margin: 0;
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  $path: 'https://www.imagemakers.co.za/wp-content/uploads/2017/';
  $path-16: 'https://www.imagemakers.co.za/wp-content/uploads/2016/';

	.showDetailedView { color: white !important; }
	.showOverView { font-size: 50px; position: absolute; margin: 0px 0px 0px 10px; bottom: 0px; color: #000; display: none; }

  .active {

		/* all */
		.pretty-polished {	background-image: url(../../static/images/_pretty-polished.jpg) }
	 	.modern-geometry { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-94-3800x1460.jpg) }	
		.cream-of-the-crop {background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-38-3800x1460.jpg) }
		.dream-team {	background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-48-3800x1460.jpg) }
		.classic-and-cool {	background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-58-3800x1460.jpg) }
		.inner-city-blues {	background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-66-3800x1460.jpg) }
		.leading-line-up {background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-72-3800x1460.jpg) }
		.urban-jungle { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-80-3800x14601.jpg)	}
	 	.steal-the-spotlight { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-28-3800x1460.jpg) }
		.mad-about-melon { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-42-3800x1460.jpg) }
		.colour-me-crimson { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-67-3800x1460.jpg) }
		.fifty-ways-with-grey { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-68-3800x1460.jpg) }
		.purple-power { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-80-3800x1460.jpg) }
		.neutral-by-nature { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-90-3800x1460.jpg) }
		.black-and-bright { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-120-3800x1460.jpg) }
	 	.the-power-suit { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-142-3800x1460.jpg) }
		.sleek-in-silver { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-134-3800x1460.jpg) }
		.team-players { background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-186-3800x1460.jpg) }
		.blue-print-for-success {	background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-194-3800x1460.jpg) }
		.office-winners {	background-image: url(https://www.imagemakers.co.za/wp-content/uploads/2016/12/hbl-204-3800x1460.jpg) }  	
  }
	
	.active .loadImage  {  

		div[class^="tl"] {	animation: softly 1s; } 

		/* pretty polished */

		.tl1_1 { background-image: url('#{$path}08/c-86-1210x1612.jpg')}
		.tl1_2 { background-image: url('#{$path}08/c-88-1210x1612.jpg')}
		.tl1_3 { background-image: url('#{$path}02/c-89-1210x1612.jpg')}
		.tl1_4 { background-image: url('#{$path}08/c-90-1210x1612.jpg')}
		.tl1_5 { background-image: url('#{$path}08/c-91-1210x1612.jpg')}
		.tl1_6 { background-image: url('#{$path}08/c-92-1210x1612.jpg')}
		.tl1_7 { background-image: url('#{$path}08/c-93-1210x1612.jpg')}

		.tl1 { display: none }

		/* modern geometry */
		.tl2_1 { background-image: url('#{$path}08/c-94-1210x1612-769x1024.jpg'); }
		.tl2_2 { background-image: url('#{$path}08/c-95-1210x1612-769x1024.jpg'); }
		.tl2_3 { background-image: url('#{$path}08/c-96-1210x1612-769x1024.jpg'); }
		.tl2_4 { background-image: url('#{$path}08/c-97-1210x1612-769x1024.jpg'); }
		.tl2_5 { background-image: url('#{$path}08/c-98-1210x1612-769x1024.jpg'); }
		.tl2_6 { background-image: url('#{$path}08/c-99-1210x1612-769x1024.jpg'); }
		.tl2_7 { background-image: url('#{$path}08/c-100-1210x1612-769x1024.jpg'); }
		.tl2_8 { background-image: url('#{$path}08/c-101-1210x1612-769x1024.jpg'); }
		.tl2_9 { background-image: url('#{$path}08/c-102-1210x1612-769x1024.jpg'); }
		.tl2_10 { background-image: url('#{$path}08/c-103-1210x1612-769x1024.jpg'); }

		.tl2 { display: none }

		/* cream of the crop */
		.tl3_1 { background-image: url('#{$path}07/c-38-1210x1612-769x1024.jpg'); }
		.tl3_2 { background-image: url('#{$path}08/c-39-1210x1612-769x1024.jpg'); }
		.tl3_3 { background-image: url('#{$path}08/c-40-1210x16121-769x1024.jpg'); }
		.tl3_4 { background-image: url('#{$path}08/c-41-1210x1612-769x1024.jpg'); }
		.tl3_5 { background-image: url('#{$path}08/c-42-1210x16121-769x1024.jpg'); }
		.tl3_6 { background-image: url('#{$path}08/c-43-1210x16121-769x1024.jpg'); }
		.tl3_7 { background-image: url('#{$path}08/c-44-1210x16121-769x1024.jpg'); }
		.tl3_8 { background-image: url('#{$path}08/c-45-1210x16121-769x1024.jpg'); }
		.tl3_9 { background-image: url('#{$path}08/c-46-1210x1612-769x1024.jpg'); }
		.tl3_10 { background-image: url('#{$path}08/c-47-1210x1612-769x1024.jpg'); }

		.tl3 { display: none }
		
		/* dream team */
		.tl4_1 { background-image: url('#{$path}08/c-48-1210x1612-769x1024.jpg'); }
		.tl4_2 { background-image: url('#{$path}08/c-49-1210x1612-769x1024.jpg'); }
		.tl4_3 { background-image: url('#{$path}08/c-50-1210x1612-769x1024.jpg'); }
		.tl4_4 { background-image: url('#{$path}08/c-51-1210x1612-769x1024.jpg'); }
		.tl4_5 { background-image: url('#{$path}08/c-52-1210x1612-769x1024.jpg'); }
		.tl4_6 { background-image: url('#{$path}08/c-53-1210x1612-769x1024.jpg'); }
		.tl4_7 { background-image: url('#{$path}08/c-54-1210x1612-769x1024.jpg'); }
		.tl4_8 { background-image: url('#{$path}08/c-55-1210x1612-769x1024.jpg'); }
		.tl4_9 { background-image: url('#{$path}08/c-56-1210x1612-769x1024.jpg'); }
		.tl4_10 { background-image: url('#{$path}08/c-57-1210x1612-769x1024.jpg'); }

		.tl4 { display: none }

		/* classic and cool */
		.tl5_1 { background-image: url('#{$path}08/c-58-1210x1612-769x1024.jpg'); }
		.tl5_2 { background-image: url('#{$path}08/c-59-1210x1612-769x1024.jpg'); }
		.tl5_3 { background-image: url('#{$path}08/c-60-1210x1612-769x1024.jpg'); }
		.tl5_4 { background-image: url('#{$path}08/c-61-1210x1612-769x1024.jpg'); }
		.tl5_5 { background-image: url('#{$path}08/c-62-1210x1612-769x1024.jpg'); }
		.tl5_6 { background-image: url('#{$path}08/c-63-1210x1612-769x1024.jpg'); }
		.tl5_7 { background-image: url('#{$path}08/c-64-1210x1612-769x1024.jpg'); }
		.tl5_8 { background-image: url('#{$path}08/c-65-1210x1612-769x1024.jpg'); }

		.tl5 { display: none }

		/* inner city blues */
		.tl6_1 { background-image: url('#{$path}08/c-66-1210x1612-769x1024.jpg'); }
		.tl6_2 { background-image: url('#{$path}08/c-67-1210x1612-769x1024.jpg'); }
		.tl6_3 { background-image: url('#{$path}08/c-68-1210x1612-769x1024.jpg'); }
		.tl6_4 { background-image: url('#{$path}08/c-69-1210x1612-769x1024.jpg'); }
		.tl6_5 { background-image: url('#{$path}08/c-70-1210x1612-769x1024.jpg'); }
		.tl6_6 { background-image: url('#{$path}08/c-71-1210x1612-769x1024.jpg'); }

		.tl6 { display: none }

		/* leading line up */
		.tl7_1 { background-image: url('#{$path}08/c-72-1210x1612-769x1024.jpg'); }
		.tl7_2 { background-image: url('#{$path}08/c-73-1210x1612-769x1024.jpg'); }
		.tl7_3 { background-image: url('#{$path}08/c-74-1210x1612-769x1024.jpg'); }
		.tl7_4 { background-image: url('#{$path}08/c-75-1210x1612-769x1024.jpg'); }
		.tl7_5 { background-image: url('#{$path}08/c-76-1210x1612-769x1024.jpg'); }
		.tl7_6 { background-image: url('#{$path}08/c-77-1210x1612-769x1024.jpg'); }
		.tl7_7 { background-image: url('#{$path}08/c-78-1210x1612-769x1024.jpg'); }
		.tl7_8 { background-image: url('#{$path}08/c-79-1210x1612-769x1024.jpg'); }

		.tl7 { display: none }

		/* urban jungle */
		.tl8_1 { background-image: url('#{$path}08/c-80-1210x1612-769x1024.jpg'); }
		.tl8_2 { background-image: url('#{$path}08/c-81-1210x1612-769x1024.jpg'); }
		.tl8_3 { background-image: url('#{$path}08/c-83-1210x1612-769x1024.jpg'); }
		.tl8_4 { background-image: url('#{$path}08/c-82-1210x1612-769x1024.jpg'); }
		.tl8_5 { background-image: url('#{$path}02/c-84-1210x1612-769x1024.jpg'); }
		.tl8_6 { background-image: url('#{$path}02/c-85-1210x1612-769x1024.jpg'); }

		.tl8 { display: none }

		/* steal the spotlight */
		.tl9_1 { background-image: url('#{$path}02/c-106-1210x16121-769x1024.jpg'); }
		.tl9_2 { background-image: url('#{$path}02/c-107-1210x1612-769x1024.jpg'); }
		.tl9_3 { background-image: url('#{$path}02/c-108-1210x16121-769x1024.jpg'); }
		.tl9_4 { background-image: url('#{$path}02/c-109-1210x1612-769x1024.jpg'); }
		.tl9_5 { background-image: url('#{$path}02/c-110-1210x1612-769x1024.jpg'); }
		.tl9_6 { background-image: url('#{$path}02/c-111-1210x1612-769x1024.jpg'); }
		.tl9_7 { background-image: url('#{$path}02/c-112-1210x1612-769x1024.jpg'); }
		.tl9_8 { background-image: url('#{$path}02/c-113-1210x1612-769x1024.jpg'); }
		.tl9_9 { background-image: url('#{$path}02/c-114-1210x1612-769x1024.jpg'); }
		.tl9_10 { background-image: url('#{$path}02/c-115-1210x1612-769x1024.jpg'); }

		.tl9 { display: none }

		/* colour me crimson */		
		.tl10_1 { background-image: url('#{$path}01/c-62-1210x1612-769x1024.jpg'); }
		.tl10_2 { background-image: url('#{$path}01/c-63-1210x1612-769x1024.jpg'); }
		.tl10_3 { background-image: url('#{$path}01/c-64-1210x1612-769x1024.jpg'); }
		.tl10_4 { background-image: url('#{$path}01/c-65-1210x1612-769x1024.jpg'); }
		.tl10_5 { background-image: url('#{$path}01/c-66-1210x1612-769x1024.jpg'); }
		.tl10_6 { background-image: url('#{$path}01/c-67-1210x1612-769x1024.jpg'); }

		.tl10 { display: none }

		/* 50 ways with grey */
		.tl11_1 { background-image: url('#{$path}01/c-68-1210x1612-769x1024.jpg'); }
		.tl11_2 { background-image: url('#{$path}01/c-69-1210x1612-769x1024.jpg'); }
		.tl11_3 { background-image: url('#{$path}01/c-72-1210x1612-769x1024.jpg'); }
		.tl11_4 { background-image: url('#{$path}01/c-70-1210x1612-769x1024.jpg'); }
		.tl11_5 { background-image: url('#{$path}01/c-75-1210x1612-769x1024.jpg'); }
		.tl11_6 { background-image: url('#{$path}01/c-74-1210x1612-769x1024.jpg'); }
		.tl11_7 { background-image: url('#{$path}01/c-79-1210x1612-769x1024.jpg'); }
		.tl11_8 { background-image: url('#{$path}01/c-77-1210x1612-769x1024.jpg'); }

		.tl11 { display: none }

		/* purple power */
		.tl12_1 { background-image: url('#{$path}01/c-80-1210x1612-769x1024.jpg'); }
		.tl12_2 { background-image: url('#{$path}01/c-81-1210x1612-769x1024.jpg'); }
		.tl12_3 { background-image: url('#{$path}01/c-82-1210x1612-769x1024.jpg'); }
		.tl12_4 { background-image: url('#{$path}01/c-83-1210x1612-769x1024.jpg'); }
		.tl12_5 { background-image: url('#{$path}01/c-84-1210x1612-769x1024.jpg'); }
		.tl12_6 { background-image: url('#{$path}01/c-85-1210x1612-769x1024.jpg'); }
		.tl12_7 { background-image: url('#{$path}01/c-86-1210x1612-769x1024.jpg'); }
		.tl12_8 { background-image: url('#{$path}01/c-87-1210x1612-769x1024.jpg'); }
		.tl12_9 { background-image: url('#{$path}01/c-88-1210x1612-769x1024.jpg'); }
		.tl12_10 { background-image: url('#{$path}01/c-89-1210x1612-769x1024.jpg'); }

		.tl12 { display: none }

		/* neutral by nature */
		.tl13_1 { background-image: url('#{$path}01/c-90-1210x1612-769x1024.jpg'); }
		.tl13_2 { background-image: url('#{$path}01/c-91-1210x1612-769x1024.jpg'); }
		.tl13_3 { background-image: url('#{$path}01/c-98-1210x1612-769x1024.jpg'); }
		.tl13_4 { background-image: url('#{$path}01/c-157-1210x1612-769x1024.jpg'); }
		.tl13_5 { background-image: url('#{$path}01/c-158-1210x1612-769x1024.jpg'); }
		.tl13_6 { background-image: url('#{$path}01/c-103-1210x1612-769x1024.jpg'); }

		.tl13 { display: none }

		/* black and bright */
		.tl14_1 { background-image: url('#{$path}02/c-120-1210x1612-769x1024.jpg'); }
		.tl14_2 { background-image: url('#{$path}02/c-121-1210x1612-769x1024.jpg'); }
		.tl14_3 { background-image: url('#{$path}02/c-122-1210x1612-769x1024.jpg'); }
		.tl14_4 { background-image: url('#{$path}02/c-123-1210x1612-769x1024.jpg'); }
		.tl14_5 { background-image: url('#{$path}02/c-174-1210x16121-769x1024.jpg'); }
		.tl14_6 { background-image: url('#{$path}02/c-127-1210x1612-769x1024.jpg'); }
		.tl14_7 { background-image: url('#{$path}02/c-176-1210x16121-769x1024.jpg'); }
		.tl14_8 { background-image: url('#{$path}02/c-177-1210x16121-769x1024.jpg'); }
		.tl14_9 { background-image: url('#{$path}02/c-130-1210x1612-769x1024.jpg'); }
		.tl14_10 { background-image: url('#{$path}02/c-131-1210x1612-769x1024.jpg'); }

		.tl14 { display: none }

		/* sleek in silver */
		.tl15_1 { background-image: url('#{$path}02/c-134-1210x1612-769x1024.jpg'); }
		.tl15_2 { background-image: url('#{$path}02/c-181-1210x16121-769x1024.jpg'); }
		.tl15_3 { background-image: url('#{$path}02/c-136-1210x1612-769x1024.jpg'); }
		.tl15_4 { background-image: url('#{$path}02/c-137-1210x1612-769x1024.jpg'); }
		.tl15_5 { background-image: url('#{$path}02/c-138-1210x1612-769x1024.jpg'); }
		.tl15_6 { background-image: url('#{$path}02/c-139-1210x1612-769x1024.jpg'); }
		.tl15_7 { background-image: url('#{$path}02/c-140-1210x1612-769x1024.jpg'); }
		.tl15_8 { background-image: url('#{$path}02/c-141-1210x1612-769x1024.jpg'); }

		.tl15 { display: none }

		/* the power suit */
		.tl16_1 { background-image: url('#{$path}02/c-142-1210x1612-769x1024.jpg'); }
		.tl16_2 { background-image: url('#{$path}02/c-143-1210x1612-769x1024.jpg'); }
		.tl16_3 { background-image: url('#{$path}02/c-144-1210x1612-769x1024.jpg'); }
		.tl16_4 { background-image: url('#{$path}02/c-145-1210x1612-769x1024.jpg'); }
		.tl16_5 { background-image: url('#{$path}02/c-146-1210x1612-769x1024.jpg'); }
		.tl16_6 { background-image: url('#{$path}02/c-147-1210x1612-769x1024.jpg'); }
		.tl16_7 { background-image: url('#{$path}02/c-149-1210x1612-769x1024.jpg'); }
		.tl16_8 { background-image: url('#{$path}02/c-150-1210x1612-769x1024.jpg'); }
		.tl16_9 { background-image: url('#{$path}02/c-152-1210x1612-769x1024.jpg'); }
		.tl16_10 { background-image: url('#{$path}02/c-197-1210x16121-769x1024.jpg'); }

		.tl16 { display: none }

		/* team players */
		.tl17_1 { background-image: url('#{$path}02/c-186-1210x1612-769x1024.jpg'); }
		.tl17_2 { background-image: url('#{$path}02/c-187-1210x1612-769x1024.jpg'); }
		.tl17_3 { background-image: url('#{$path}02/c-188-1210x1612-769x1024.jpg'); }
		.tl17_4 { background-image: url('#{$path}02/c-189-1210x1612-769x1024.jpg'); }
		.tl17_5 { background-image: url('#{$path}02/c-190-1210x1612-769x1024.jpg'); }
		.tl17_6 { background-image: url('#{$path}02/c-213-1210x1612-769x1024.jpg'); }

		.tl17 { display: none }

		/* blueprints */
		.tl18_1 { background-image: url('#{$path}02/c-194-1210x1612-769x1024.jpg'); }
		.tl18_2 { background-image: url('#{$path}02/c-195-1210x1612-769x1024.jpg'); }
		.tl18_3 { background-image: url('#{$path}02/c-197-1210x1612-769x1024.jpg'); }
		.tl18_4 { background-image: url('#{$path}02/c-198-1210x1612-769x1024.jpg'); }
		.tl18_5 { background-image: url('#{$path}02/c-201-1210x1612-769x1024.jpg'); }
		.tl18_6 { background-image: url('#{$path}02/c-218-1210x16121-769x1024.jpg'); }

		.tl18 { display: none }

		/* office winners */
		.tl19_1 { background-image: url('#{$path}02/c-220-1210x1612-769x1024.jpg'); }
		.tl19_2 { background-image: url('#{$path}02/c-221-1210x1612-769x1024.jpg'); }
		.tl19_3 { background-image: url('#{$path}02/c-206-1210x1612-769x1024.jpg'); }
		.tl19_4 { background-image: url('#{$path}02/c-217-1210x1612-769x1024.jpg'); }
		.tl19_5 { background-image: url('#{$path}02/c-212-1210x1612-769x1024.jpg'); }
		.tl19_6 { background-image: url('#{$path}02/c-211-1210x1612-769x1024.jpg'); }
		.tl19_7 { background-image: url('#{$path}02/c-210-1210x1612-769x1024.jpg'); }

		.tl19 { display: none }

		/* cream slate */
		.tl20_1 { background-image: url('#{$path}01/c-160-1210x1612-769x1024.jpg'); }
		.tl20_2 { background-image: url('#{$path}01/c-161-1210x1612-769x1024.jpg'); }
		.tl20_3 { background-image: url('#{$path}01/c-109-1210x1612-769x1024.jpg'); }
		.tl20_4 { background-image: url('#{$path}01/c-107-1210x1612-769x1024.jpg'); }
		.tl20_5 { background-image: url('#{$path}01/c-111-1210x1612-769x1024.jpg'); }
		.tl20_6 { background-image: url('#{$path}01/c-115-1210x1612-769x1024.jpg'); }
		.tl20_7 { background-image: url('#{$path}01/c-112-1210x1612-769x1024.jpg'); }
		.tl20_8 { background-image: url('#{$path}01/c-167-1210x1612-769x1024.jpg'); }
		.tl20_9 { background-image: url('#{$path}01/c-169-1210x1612-769x1024.jpg'); }

		.tl20 { display: none }		

		/* office style file */
		.tl21_1 { background-image: url('#{$path}02/c-165-1210x1612-769x1024.jpg'); }
		.tl21_2 { background-image: url('#{$path}02/c-199-1210x16121-769x1024.jpg'); }
		.tl21_3 { background-image: url('#{$path}02/c-164-1210x1612-769x1024.jpg'); }
		.tl21_4 { background-image: url('#{$path}02/c-160-1210x1612-769x1024.jpg'); }

		.tl21 { display: none }		

		/* coral crush */
		.tl22_1 { background-image: url('#{$path}01/c-52-1210x1612-769x1024.jpg'); }
		.tl22_2 { background-image: url('#{$path}01/c-53-1210x1612-769x1024.jpg'); }
		.tl22_3 { background-image: url('#{$path}01/c-54-1210x1612-769x1024.jpg'); }
		.tl22_4 { background-image: url('#{$path}01/c-55-1210x1612-769x1024.jpg'); }
		.tl22_5 { background-image: url('#{$path}01/c-56-1210x1612-769x1024.jpg'); }
		.tl22_6 { background-image: url('#{$path}01/c-58-1210x1612-769x1024.jpg'); }
		.tl22_7 { background-image: url('#{$path}01/c-61-1210x1612-769x1024.jpg'); }
		.tl22_8 { background-image: url('#{$path}01/c-60-1210x1612-769x1024.jpg'); }

		.tl22 { display: none }		

		/* weekday essentials */
		.tl23_1 { background-image: url('#{$path}02/c-176-1210x1612-769x1024.jpg'); }
		.tl23_2 { background-image: url('#{$path}02/c-203-1210x16121-769x1024.jpg'); }
		.tl23_3 { background-image: url('#{$path}02/c-184-1210x1612-769x1024.jpg'); }
		.tl23_4 { background-image: url('#{$path}02/c-185-1210x1612-769x1024.jpg'); }
		.tl23_5 { background-image: url('#{$path}02/c-180-1210x1612-769x1024.jpg'); }
		.tl23_6 { background-image: url('#{$path}02/c-181-1210x1612-769x1024.jpg'); }

		.tl23 { display: none }

		/* mad about melon */
		.tl24_1 { background-image: url('#{$path}02/c-42-1210x1612-769x1024.jpg'); }
		.tl24_2 { background-image: url('#{$path}02/c-43-1210x1612-769x1024.jpg'); }
		.tl24_3 { background-image: url('#{$path}02/c-48-1210x1612-769x1024.jpg'); }
		.tl24_4 { background-image: url('#{$path}02/c-45-1210x1612-769x1024.jpg'); }
		.tl24_5 { background-image: url('#{$path}02/c-50-1210x1612-769x1024.jpg'); }
		.tl24_6 { background-image: url('#{$path}02/c-51-1210x1612-769x1024.jpg'); }

		.tl24 { display: none }

	}				

	.tl { 

			height: calc(100vh - 73px); 
			font-family: DIN-Medium, arial, sans-serif

	}

	/* slick */
	.tl_browse {
	
		height: calc(100vh - 105px);	

		.more-info { 

			position: absolute; bottom: 100px; background-color: transparent; opacity: 0.8; padding: 0px 10px 10px 0px; 

			span { display: flex; }
			.type { background-color: black; color: white; text-transform: uppercase; display: inline-block; padding: 5px 5px 5px 10px; }
			.code { font-size: 14px; visibility: hidden; padding: 0 0 0 10px; }
			.name { font-size: 18px;; padding: 0 0 0 10px;  }
			.description { font-family: Lato-Regular; font-size: 14px; visibility: hidden; padding: 0 0 0 10px; }
			.sizes { text-transform: uppercase; visibility: hidden; padding: 0 0 0 10px; }

		}

		div div  p { font-size: 12px }
		div { width: calc(768px - 0px); margin: 37px 0px 0 0; height: calc(100vh - 110px); background-size: cover; background-repeat: no-repeat; background-position: center top }	
		div:focus { outline: 0 none }

		.overview {

			div {
				width: 33.33%;
				float: left;
				height: 33.33vh;
				background-color: #ccc;
			}
		}	

	}		

	/* sly */
	.team-look-nav {

		margin: 0 auto;

			.tl-frame { 

				margin: 0 auto; width: 100%; height: 35px; overflow: hidden; text-shadow: none; position: absolute; top: 74px; z-index: 9;

				ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px }
				ul li { float: left; width: auto; height: 100%; margin: 0 1px 0 0; padding: 0; /*background: #eee;*/ color: #ccc; text-align: center; cursor: pointer; opacity: 0.96 }
				ul li.active { /*color: #fff; background: #777*/ }
				ul li .team-title { font-size:12px;  }
				ul li.active .team-title { /*background-color: #d8e3e6 !important;*/color: orange !important; transition: all .2s ease; }
				.categorySliderNav { width: 100px }
			}

			.tl-scrollbar { 

				margin: 0 auto 30px; width: 100%; height: 5px; line-height: 0; position: absolute; bottom: 50px; z-index: 9; display: none;

				.handle { width: 100px; height: 100%; background: #ccc; cursor: pointer }
				.handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px }

			}

		.team-title {	width: auto; /*background: linear-gradient(#eeeeee, #d6d3d3) !important;*/ color: #555; text-transform: uppercase; text-align: center; padding: 12px 20px; font-size: 12px; height: calc(35px - 24px); }

		.sg_landing { font-size: 12px; line-height: 14px; text-transform: uppercase; color: black; text-align: center; width: 100px; color: #0e0e0e; background-color: #bdc3c7; margin: 0px; padding: 11px 0px;	} 			

	}
	
	/* seo */ 
	.mask { 

		background-color: black; width: calc(100% - 60px); opacity: 1; height: calc(100vh - 170px); padding: 30px; background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ), url(https://www.imagemakers.co.za/wp-content/uploads/2017/02/c-188-1210x1612-769x1024.jpg); background-size: contain; margin: 37px 0 0 0; background-position: center;

		div h1 { color: white; text-transform: uppercase; font-size: 4em; text-shadow: 2px 4px 3px rgba(0,0,0,0.3) }
		div p { color: white; font-size: 1.8em; text-shadow: 2px 4px 3px rgba(0,0,0,0.3) }
		div { background: none; background: transparent; width: calc(100%); display: flex; flex-direction: column; justify-content: flex-end; height: calc(100vh - 270px) }

	}


	@media screen and (min-width: 1000px) {
		.landing div p {  
		  width: calc(800px - 60px) !important;
		  max-width: calc(800px - 60px) !important;
		}    
	}

	@media screen and (max-width: 780px) {
		.tl .slide img { width: 100%;  }
	}	

	@media screen and (max-width: 400px) {
		.landing div h1 {  
			font-size: 3em !important;
		}
		.landing div p {  
			font-size: 1.5em !important;
		}
	}

	@media screen and (max-width: 600px) {
		.team-look-nav .team-title {	width: auto; }
		.team-look-nav .tl-frame ul li { float: left; width: auto;	 }
	}	

</style>

<style>

	.fp-viewing-team-looks-team-look .tl .fp-controlArrow.fp-prev,
	.fp-viewing-team-looks-team-look .tl .fp-controlArrow.fp-prev:before {
	  display: none !important;
	}		

	.fp-viewing-team-looks-team-look .tl .fp-controlArrow.fp-next,
	.fp-viewing-team-looks-team-look .tl .fp-controlArrow.fp-next:before {
	  display: block !important;
    right: 13px;
    width: 55px;
    padding: 0 0px 10px 5px;
    border-radius: 5px;
    background-color: white !important;
    height: 58px;
    bottom: 12px;
    opacity: 1;	  	  
	}					

	.tl .fp-controlArrow.fp-prev,
	.tl .fp-controlArrow.fp-prev:before,
	.tl .fp-controlArrow.fp-next,
	.tl .fp-controlArrow.fp-next:before {
		display: none !important;
	}					

</style>