<template>
		<div class="slide" data-anchor="terms-and-conditions" id="terms-and-conditions-section">  	
		<div class="content">
			<div class="main-title hidden">
				<h1>{{ terms[0] }}</h1>
			</div>
			<small v-html="terms[1]"></small>
		</div>
	</div>
</template>

<script>

module.exports = {
    data() {
        return {
            terms: []
        }
    },
	  created: function() {
	    this.$http.get('wp/v2/pages/116').then( response => { 
	    	this.terms.push(
	    		response.body.title.rendered, 
	    		response.body.content.rendered, 
	    		response); 
	    }, error => {
	    	console.log(error.body.message);
	    });
	  },
	  updated: function() {
	  }
}
	
</script>

<style>
	
</style>