<template>
		<div class="mobi-navi">
			<a href="#" onclick="$.fn.fullpage.moveSectionUp();" class="moveUp">up</i></a>
			<a href="#" onclick="$.fn.fullpage.moveSlideLeft();" class="moveLeft">&#x2039;</i></a>
			<a href="#" onclick="$.fn.fullpage.moveSlideRight()" class="moveRight">&#x203A;</i></a>
			<a href="#" onclick="$.fn.fullpage.moveSectionDown()" class="moveDown">down</i></a>
		</div>		
</template>

<script>
	
</script>

<style>
	
	.moveLeft {
		width: calc( 50% - 30px );
		float: left;
		text-align: right;
		padding-right: 30px;
		font-size: 20px;
	  color: #fff;
	}

	.moveRight {
		width: calc( 50% - 30px );
		float: right;
		text-align: left;
		padding-left: 30px;
		font-size: 20px;
		margin-bottom: 31px;
	  color: #fff;
	}

	.moveUp {
		display: block;
		clear: both;
		text-align: center;
		display: none;
	}

	.moveDown {
		display: block;
		clear: both;
		text-align: center;
		display: none;
	}


</style>