<template>
  <div>  	
  	
  	<options/>
  	<logo/>
  	<menu-main/>  	
		<div id="alles" class="main-content">
			<section class="section" id="home-section">		
				<router-view></router-view>			
				<home/>				
				<!--
				<careers/>
				<about/>
				<csr/> -->											
			</section>
			<section class="section" id="team-look-section">				
				<team-look/>
			</section>
			<section class="section" id="style-guide-section">	
				<style-guide/>
			</section>
			<section class="section" id="mix-and-match-section">
				<mix-match/>
			</section>
			<section class="section" id="colour-chart-section">
				<colour-chart/>
			</section>
			<section class="section" id="size-chart-section">
				<size-chart/>
			</section>	 	  
			<section class="section" id="online-catalogue-section">
				<digital-catalogue/>
			</section>
			<section class="section" id="order-your-free-catalogue-section">
					<form-catalogue/>
			</section>		
			<section class="section" id="make-an-enquiry-section">
					<form-enquire/>
			</section>
			<section class="section" id="get-a-call-back-in-60-seconds-section">
					<form-callback/>
			</section>	
			<section class="section" id="contact-section">
					<contact/>
			</section>		
			<section class="section" id="clients-section">
					<clients/>
			</section>							
			<section class="section" id="privacy-policy-section">
					<privacy/>
			</section>	
			<section class="section" id="terms-and-conditions-section">
					<terms/>
			</section>		
			<section class="section" id="frequently-asked-questions-section">
					<faq/>
			</section>		
			<section class="section" id="delivery-policy-section">
					<deliveries/>
			</section>		
			<section class="section" id="exchange-policy-section">
					<exchanges/> 
			</section>		
		</div>
  </div>
</template>

<script>

	// import Beep from '@/components/beep'
	import Logo from './components/logo.vue';
	import Menu from './components/menu-main.vue';
	import Home from './components/home.vue';
	import Contact from './components/contact.vue';
	import Clients from './components/clients.vue';
	// import Careers from './components/careers.vue';
	// import About from './components/about.vue';
	// import CSR from './components/csr.vue';
	import Privacy from './components/privacy.vue';
	import Terms from './components/terms.vue';
	import FAQ from './components/faq.vue';
	import Deliveries from './components/deliveries.vue';
	import Exchanges from './components/exchanges.vue';
	import TeamLook from './components/team-look.vue';
	import MixMatch from './components/mix-match.vue';
	import ColourChart from './components/colour-chart.vue';
	import StyleGuide from './components/style-guide.vue';
	import SizeChart from './components/size-chart.vue';
	import DigitalCatalogue from './components/digital-catalogue.vue';
	import Options from './components/options.vue';
	import FormCallback from './components/form-callback.vue';
	import FormEnquire from './components/form-enquire.vue';
	import FormOrderCatalogue from './components/form-order-catalogue.vue';

	export default {
		components: {
			// 'beep'							: Beep, 
			'logo'							: Logo, 
			'menu-main'					: Menu,
			'home'							: Home,
			'contact'						: Contact,
			'clients'						: Clients,
			// 'careers'						: Careers,
			// 'about'							: About,
			// 'csr'								: CSR,
			'privacy'						: Privacy,
			'terms'							: Terms,
			'faq'								: FAQ,
			'deliveries'				: Deliveries,
			'exchanges'					: Exchanges,
			'team-look'					: TeamLook,
			'mix-match'					: MixMatch,
			'style-guide' 			: StyleGuide,
			'colour-chart' 			: ColourChart,
			'size-chart' 				: SizeChart,
			'digital-catalogue'	: DigitalCatalogue,
			'options' 					: Options,
			'form-callback' 		: FormCallback,
			'form-enquire' 			: FormEnquire,
			'form-catalogue'		: FormOrderCatalogue,
		}
	}

</script>

<style>

</style>